<div class="update-user">

    <p-fieldset legend="Add User" class="fieldset">

        <form #userForm="ngForm" (ngSubmit)="onFormSubmit()" [formGroup]="UserAdd">

            <div class="group-row">

                <!-- <div class="p-float-label">
                    <span style="font-size: 15px; font-weight: 500;">First Name<span style="color:red">*</span></span>

                    <input pInputText id="first-name" name="first-name" formControlName="FirstName"
                        placeholder="Enter your first name.." />
                    <div *ngIf="UserAdd.controls.FirstName.invalid && UserAdd.controls.FirstName.touched"
                        class="text-danger">
                        First name is required*
                    </div>
                </div> -->


                <div class="p-float-label">
                    <span style="font-size: 15px; font-weight: 500;">First Name<span style="color:red">*</span></span>

                    <input pInputText id="first-name" name="first-name" formControlName="FirstName"
                        placeholder="Enter your first name.." />
                    <div *ngIf="UserAdd.controls.FirstName.invalid && UserAdd.controls.FirstName.touched"
                        class="text-danger">
                        <div *ngIf="UserAdd.controls.FirstName.errors.required">
                            First name is required*
                        </div>
                        <div *ngIf="UserAdd.controls.FirstName.errors.pattern">
                            Only characters are allowed in the First name field.
                        </div>
                    </div>
                </div>
                <div class="p-float-label">
                    <span style="font-size: 15px; font-weight: 500;">Last Name<span style="color:red">*</span></span>

                    <input pInputText id="Last-name" name="Last-name" formControlName="LastName"
                        placeholder="Enter your Last name.." />
                    <div *ngIf="UserAdd.controls.LastName.invalid && UserAdd.controls.LastName.touched"
                        class="text-danger">
                        <div *ngIf="UserAdd.controls.LastName.errors.required">
                            Last name is required*
                        </div>
                        <div *ngIf="UserAdd.controls.FirstName.errors.pattern">
                            Only characters are allowed in the Last name field.
                        </div>
                    </div>
                </div>
            </div>


            <div class="group-row">
                <div class="p-float-label">
                    <span>Email<span style="color:red">*</span></span><br>
                    <input pInputText id="email-id" formControlName="Email" />
                    <div *ngIf="UserAdd.controls.Email.invalid && UserAdd.controls.Email.touched" class="text-danger">
                        Email ID is required*
                    </div>
                </div>

                <div class="p-float-label">
                    <span>NetworkID<span style="color:red">*</span></span><br>
                    <input pInputText id="email-id" formControlName="NetworkID" />
                    <div *ngIf="UserAdd.controls.NetworkID.invalid && UserAdd.controls.NetworkID.touched"
                        class="text-danger">
                        NetworkID is required*
                    </div>
                </div>
            </div>
            <div class="group-row">


                <table>
                    <tr>
                        <th></th>
                        <th>Task Name</th>
                    </tr>

                    <tr *ngFor="let task of Tasks">

                        <td class="checkbox-wrapper">

                            <div class="checkbox">
                                <input type="checkbox" (change)="onCheckboxChange(task,$event)">
                            </div>
                        </td>
                        <td class="task-name-cell">{{ task.TaskMasterName }}</td>
                    </tr>
                </table>

            </div>
            <button label="add user" class="user-btn p-button ">
                <span class="p-button-label">Save</span>
            </button>

            <button label="add user" class="user-btn p-button " routerLink="/user-management" (click)="onCancel()"
                style="margin-left: 50px;">
                <span class="p-button-label">Cancel</span>
            </button>

        </form>

    </p-fieldset>

</div>