@import "../../../assets/scss/custom.scss";

.update-user {
    overflow: auto;
    @extend .p-2;
    @extend .shadow-2;
    @extend .border-round;
    @extend .flex-auto;
    @extend .w-full;
    @extend .h-full;

    .user-mw{
        @extend .m-2;
        @extend .w-3;
        color: $colorGray66;
    }

    .group-row{
        @extend .w-full;
        @extend .flex;
        flex-direction:row;
        @extend .mb-6;
    }

    .p-float-label{
        @extend .w-full;
        @extend .mr-4;

        label{
            @extend .pl-1;
        }
    }

    .user-btn{
        @extend .w-auto;
    }
    #location{
        margin-top: 1px;
        width:200px;
        height: 40px;
        border-radius: 4px;
        border-color: rgb(213, 218, 218);
        color: rgb(117, 121, 121);
    }

     td, th {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
  padding: 8px;
  width: 200px;
}
.checkbox-wrapper {
  width: 10px;
}

 td, th {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
  padding: 8px;
  width: 20px;
}
table{
    border-collapse: collapse;
     width: 70%;
}
span .lables{
    font-size: 20px;
    font-weight: 300;

}
.task-name-cell {
  text-align: left;
}

.checkbox{
    text-align: center;
}

}



