<div class="update-user">

    <p-fieldset legend="Update User" class="fieldset">

        <form #userForm="ngForm" (ngSubmit)="onFormSubmit()" [formGroup]="UserUpdate">

            <div class="group-row">


                <div class="p-float-label">
                    <span style="font-size: 15px; font-weight: 500;">First Name<span style="color:red">*</span></span>

                    <input pInputText id="first-name" name="first-name" formControlName="FirstName"
                        placeholder="Enter your first name.." />
                    <div *ngIf="UserUpdate.controls.FirstName.invalid && UserUpdate.controls.FirstName.touched"
                        class="text-danger">
                        First name is required*
                    </div>
                </div>
                <div class="p-float-label">
                    <span style="font-size: 15px; font-weight: 500;">Last Name<span style="color:red">*</span></span>
                    <input pInputText id="last-name" formControlName="LastName" />
                    <div *ngIf="UserUpdate.controls.LastName.invalid && UserUpdate.controls.LastName.touched"
                        class="text-danger">
                        Last name is required*
                    </div>
                </div>
            </div>

            <div class="group-row">
                <div class="p-float-label">
                    <span style="font-size: 15px; font-weight: 500;">Email<span style="color:red">*</span></span>
                    <input pInputText id="email-id" formControlName="Email" />
                    <div *ngIf="UserUpdate.controls.Email.invalid && UserUpdate.controls.Email.touched"
                        class="text-danger">
                        Email ID is required*
                    </div>
                </div>

                <div class="p-float-label">
                    <span style="font-size: 15px; font-weight: 500;">Location<span style="color:red">*</span></span><br>
                    <select name="location" id="location" formControlName="LocationID">
                        <option value="0">Choose location*</option>
                        <option *ngFor="let loc of Location" [value]="loc.LocationID">{{ loc.Location }}</option>
                    </select>
                    <!-- <div *ngIf="UserAdd.controls.Email.invalid && UserAdd.controls.Email.touched" class="text-danger">
                                    Location name is required*
                                </div> -->
                </div>



            </div>
            <div class="group-row">

                <table>
                    <tr>
                        <th>Check</th>
                        <th>Task Name</th>
                    </tr>

                    <tr *ngFor="let task of Tasks">

                        <td class="checkbox-wrapper">

                            <div class="checkbox">
                                <input type="checkbox" (change)="onCheckboxChange(task,$event)">
                            </div>
                        </td>
                        <td class="task-name-cell">{{ task.TaskMasterName }}</td>
                    </tr>
                </table>

            </div>

            <button label="add user" class="user-btn p-button" type="submit">
                <span class="p-button-label">Update User</span>
            </button>
            <button class="user-btn p-button " routerLink="/user-management" style="margin-left: 50px;">
                <span class="p-button-label">cancel</span>
            </button>

        </form>

    </p-fieldset>

</div>