<div class="update-user">

    <p-fieldset legend="update User" class="fieldset">

        <form #userForm="ngForm" (ngSubmit)="onFormSubmit()" [formGroup]="UserUpdate">

            <div class="group-row">


                <div class="p-float-label">
                    <input pInputText id="first-name" name="first-name"
                        [ngClass]="{ 'is-invalid': isValidFormSubmitted }" formControlName="FirstName" />
                    <label htmlFor="first-name">First Name *</label>
                </div>
                <div class="p-float-label">
                    <input pInputText id="last-name" formControlName="LastName" />
                    <label htmlFor="last-name">Last Name *</label>
                </div>
            </div>

            <div class="group-row">
                <div class="p-float-label">
                    <input pInputText id="email-id" [pattern]="emailRegex" formControlName="Email" />
                    <label htmlFor="email-id">Email *</label>
                </div>

                <div class="p-float-label">

                    <select name="location" id="location" formControlName="LocationID">
                        <option value="0">Choose location*</option>
                        <option *ngFor="let loc of Location" [value]="loc.LocationID">{{ loc.Location }}</option>
                    </select>
                </div>
            </div>
            <div class="group-row">


                <table>
                    <tr>
                        <th>Check</th>
                        <th>Task Name</th>
                    </tr>

                    <tr *ngFor="let task of Tasks">

                        <td><input type="checkbox" (change)="onCheckboxChange(task,$event)">
                        </td>
                        <td>{{ task.TaskMasterName }}</td>
                    </tr>
                </table>

            </div>

            <button label="add user" class="user-btn p-button" type="submit">
                <span class="p-button-label">Update User</span>
            </button>

        </form>

    </p-fieldset>

</div>