@import "../../../assets/scss/custom.scss";

.add-course{
    @extend .p-2;
    @extend .shadow-2;
    @extend .border-round;
    @extend .flex-auto;
    @extend .w-auto;
    @extend .h-full;

    .course-mw{
        @extend .m-2;
        @extend .w-3;
        color: $colorGray66;
    }

    .course-btn{
        @extend .course-mw;
        @extend .w-auto;
    }

    .course-field{
        @extend .w-full;
        .course-label{
            @extend .mr-2;
            color: $colorGray66
        }
        .course-input{
            @extend .p-2;
            @extend .course-mw;
        }
        .course-drop-down,
        .course-calendar,
        .course-radio-group,
        .course-input-number,
        .course-web-url{
            @extend .course-mw;
            display: inline-flex;
        }
        .course-input-area{
            @extend .course-mw;
            @extend .w-5;
            display: inline-flex;
        }
        .course-web-url{
            font-size: 1rem;
            padding: 0.75rem;
            border: 1px solid #ced4da;
            transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
            -webkit-appearance: none;
            appearance: none;
            border-radius: 6px;
        }

    }


    .fieldset{
        @extend .m-1;
    }
     .user-btn{
        @extend .w-auto;
     }
}



