<nav>
  <ul class="listItems lg:flex-column md:justify-content-between lg:justify-content-start">
    <!-- <li>
      <a routerLink="/add-user" routerLinkActive="active" class="link-1 link hover:surface-hover">
        <i class="pi pi-user-plus md:mr-2"></i>
        <span class="font-medium hidden md:block">Add User</span>
      </a>
    </li>
    <li>
      <a routerLink="/update-user" routerLinkActive="active" class="link-2 link hover:surface-hover">
        <i class=" pi pi-user-edit md:mr-2"></i>
        <span class="font-medium hidden md:block">Update User</span>
      </a>
    </li> -->
    <li>
      <a routerLink="/user-management" routerLinkActive="active" class="link-3 link hover:surface-hover ">
        <i class=" pi pi-users md:mr-2"></i>
        <span class="font-medium hidden md:block">User Management</span>
      </a>
    </li>
<!--
    <li>
      <a routerLink="/add-course" routerLinkActive="active" class="link-4 link hover:surface-hover">
        <i class="pi pi-user-plus md:mr-2"></i>
        <span class="font-medium hidden md:block">Add Course</span>
      </a>
    </li>
    <li>
      <a routerLink="/update-course" routerLinkActive="active" class="link-5 link hover:surface-hover">
        <i class=" pi pi-user-edit md:mr-2"></i>
        <span class="font-medium hidden md:block">Update Course</span>
      </a>
    </li> -->
    <li>
      <a routerLink="/course-management" routerLinkActive="active" class="link-6 link hover:surface-hover ">
        <i class=" pi pi-users md:mr-2"></i>
        <span class="font-medium hidden md:block">Course Management</span>
      </a>
    </li>
    <li>
      <a routerLink="/course-List" routerLinkActive="active" class="link-6 link hover:surface-hover ">
        <i class=" pi pi-users md:mr-2"></i>
        <span class="font-medium hidden md:block">Course</span>
      </a>
    </li>
  </ul>
</nav>
