
 <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->


<h2 style="margin-left: 500px;">Course Management </h2>
 <!-- <div class="search-box" > -->

    <!-- <button class="btn btn-primary float-left" (click)="downloadExceloffocus() ">Export RDI for
        Focus</button>
    <button class="btn btn-primary float-left" (click)="downloadExcelofClarizen()">Export RDI for
        Clarizen</button>
    <button class="btn btn-primary float-left" (click)="downloadExcelofDeployment()">Export RDI for
        Deployment</button>
    <button routerLink="/add-course" class="btn btn-primary float-left">Add New Course</button>
    <button class="btn btn-primary float-left btnsearch" placeholder="Search">Search</button>
    <input type="text" placeholder="Search" class="search"> -->


 <!-- </div> -->
<div class="search-box">

<button kendoButton  themeColor="info"  class="float-left button-gap" (click)="downloadExceloffocus() "> Export RDI for Focus</button>

<button kendoButton  themeColor="info" class="button-gap" (click)="downloadExcelofClarizen()"> Export RDI for Clarizen</button>

<button kendoButton  themeColor="info" class="button-gap"(click)="downloadExcelofDeployment()"> Export RDI for Deployment</button>

  <button routerLink="/add-course" class="button-gap" kendoButton  themeColor="info">Add New Course</button>
    <button kendoButton  themeColor="info" class="button-gap" >Search</button>
    <input type="text" placeholder="Search" kendoButton  themeColor="info">

</div><br>


<div class="div">
    <kendo-grid [kendoGridBinding]="coursed" [pageSize]="5" [pageable]="true" [sortable]="true" [groupable]="false"
        [reorderable]="true" [filterable]="true" [columnMenu]="{ filter: true }" [height]="500">


        <kendo-grid-command-column title="Options">
            <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-icon name="edit" themeColor="info" routerLink="/update-course"></kendo-icon>
                <kendo-icon name="delete" themeColor="info" (click)="deleteRecord(dataItem)"></kendo-icon>
                <!-- <button kendoButton icon="trash" (click)="deleteRecord()">Delete</button> -->
            </ng-template>
        </kendo-grid-command-column>

        <kendo-grid-column field="CourseID" title="Course ID">
        </kendo-grid-column>

        <kendo-grid-column field="CourseName" title="Course Name">
        </kendo-grid-column>

        <kendo-grid-column field="LDIntakeOwner" title="L&D Intake Owner">
        </kendo-grid-column>

        <kendo-grid-column field="ProjectManagerContact" title="Project Manager Contact">
        </kendo-grid-column>
        <kendo-grid-column field="BusinessSponsor" title="Business Sponsor">
        </kendo-grid-column>
        <kendo-grid-column field="ProjectStatusID" title="Status">
        </kendo-grid-column>
    </kendo-grid>

</div>

<!-- select CourseID,CourseName,LDIntakeOwner,ProjectManagerContact,BusinessSponsor,ProjectStatusID from CourseMaster -->






