<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->

<div class="add-course">

    <p-fieldset legend="Add Course" class="fieldset">

        <!-- <div class="course-field"> -->

        <form [formGroup]="addcourse" (ngSubmit)="addCourse()">
            <!-- Row 1st -->
            <div class="group-row row">
                <div class="col">
                    <span>Course ID <span style="color:red;">*</span></span>
                    <input type="text" class="course-input course-id" id="courseId" placeholder="Course ID" pInputText
                        pKeyFilter="alphanum" formControlName="courseId" pattern="^[0-9]*$" />
                    <!-- <div *ngIf="addcourse.get('courseId').errors?.pattern">Please enter a valid number</div> -->
                    <div *ngIf="addcourse.controls.courseId.invalid && addcourse.controls.courseId.touched"
                        class="text-danger">
                        The CourseID is required.

                    </div>
                </div>
                <div class="col">
                    <span>Course Name <span style="color:red;">*</span></span>
                    <input type="text" class="course-input course-name" placeholder="Course Name" pInputText
                        pKeyFilter="alphanum" formControlName="coursename" />
                    <div *ngIf="addcourse.controls.coursename.invalid && addcourse.controls.coursename.touched"
                        class="text-danger">
                        The CourseName is required.
                    </div>

                </div>
                <div class="col">
                    <span>L&D-Intake-Owner<span style="color:red;">*</span></span>
                    <input type="text" class="course-input L&D-Intake-Owner" placeholder="L&D Intake Owner" pInputText
                        pKeyFilter="alphanum" formControlName="ldintake" />
                    <div *ngIf="addcourse.controls.ldintake.invalid && addcourse.controls.ldintake.touched"
                        class="text-danger">
                        The L&D Intake Owner is required.
                    </div>
                </div>
            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Project Manager Contact <span style="color:red;">*</span></span>
                    <input type="text" class="course-input project-manager-contact"
                        placeholder="Project Manager Contact" pInputText pKeyFilter="alphanum"
                        formControlName="project-manager-contact" />
                </div>
                <div class="col">
                    <span>Input Business Sponsor <span style="color:red;">*</span></span>
                    <input type="text" class="course-input business-sponsor" placeholder="Business Sponsor" pInputText
                        pKeyFilter="alphanum" formControlName="business-sponsor" />
                </div>
                <div class="col">
                    <span>Instructional Designer <span style="color:red;">*</span></span>
                    <input type="text" class="course-input instructional-designer" placeholder="Instructional Designer"
                        pInputText pKeyFilter="alphanum" formConrolName="instructional-designer" />
                </div>

            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Course Owner<span style="color:red;">*</span></span>
                    <p-dropdown class="course-drop-down course-owner" [options]="courseOwners" optionLabel="name"
                        [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Course Owner"
                        formControlName="courseowner">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedCourseOwner">
                                <div>{{ selectedCourseOwner.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div *ngIf="addcourse.controls.courseowner.invalid && addcourse.controls.courseowner.touched"
                        class="text-danger">
                        The Course Owner is required.
                    </div>
                </div>

                <div class="col">
                    <span>Program Type <span style="color:red;">*</span></span>
                    <p-dropdown class="course-drop-down program-type" [options]="programTypes"
                        formControlName="programtype" optionLabel="name" [filter]="true" filterBy="name"
                        [showClear]="true" placeholder="Select a Program Type">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedProgramType">
                                <div>{{ selectedProgramType.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div *ngIf="addcourse.controls.programtype.invalid && addcourse.controls.programtype.touched"
                        class="text-danger">
                        The Program Type is required.
                    </div>
                </div>

                <div class="col">
                    <span>Delivery Type <span style="color:red;">*</span></span>
                    <p-dropdown class="course-drop-down delivery-type" [options]="deliveryTypes" optionLabel="name"
                        [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Delivery Type"
                        formControlName="deliverytype">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedDeliveryType">
                                <div>{{ selectedDeliveryType.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div *ngIf="addcourse.controls.deliverytype.invalid && addcourse.controls.deliverytype.touched"
                        class="text-danger">
                        The Delivery Type is required.
                    </div>
                </div>
            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Business Description <span style="color:red;">*</span></span>
                    <input type="text" class="course-input business-description"
                        placeholder="Please provide a description/the business need related to this request" pInputText
                        pKeyFilter="alphanum" formControlName="business-description" />
                </div>

                <div class="col">
                    <span> Materials <span style="color:red;">*</span></span>
                    <input type="text" class="course-input materials" placeholder="Materials (print or electronic)"
                        pInputText pKeyFilter="alphanum" formControlName="materials" />
                </div>

                <div class="col">
                    <span>Total Cpe Credit <span style="color:red;">*</span></span>
                    <div class="course-input-number total-cpe-credit">
                        <p-inputNumber id="total-cpe-credit" [showButtons]="true" inputId="stacked" mode="decimal"
                            [min]="0" formControlName="totalcpecredit">
                        </p-inputNumber>
                        <div *ngIf="addcourse.controls.totalcpecredit.invalid && addcourse.controls.totalcpecredit.touched"
                            class="text-danger">
                            The Total CPE Credit is required.
                        </div>
                    </div>
                </div>

            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Course Notes/ Additional Information <span style="color:red;">*</span></span>
                    <div class="course-input-area course-note">

                        <textarea id="course-note" rows="5" cols="30" pInputTextarea pKeyFilter="alphanum"
                            formControlName="course-note"></textarea>
                    </div>
                </div>

                <div class="col">
                    <span>Room Set Up Comments <span style="color:red;">*</span></span>
                    <div class="course-input-area room-set-up-comments">

                        <textarea id="room-set-up-comments" rows="5" cols="30" pInputTextarea pKeyFilter="alphanum"
                            formControlName="room-set-up-comments"></textarea>
                    </div>
                </div>

            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Overview <span style="color:red;">*</span></span>
                    <div class="course-input-area overview">

                        <textarea id="overview" rows="5" cols="30" pInputTextarea pKeyFilter="alphanum"
                            formControlName="overview"></textarea>
                    </div>
                </div>

                <div class="col">
                    <span>Objectives <span style="color:red;">*</span></span>
                    <div class="course-input-area objectives">

                        <textarea id="objectives" rows="5" cols="30" pInputTextarea pKeyFilter="alphanum"
                            formControlName="objectives"></textarea>
                    </div>
                </div>
            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Maximum Attendee Count<span style="color:red;">*</span></span>
                    <div class="course-input-number maximum-attendee-count">

                        <p-inputNumber id="maximum-attendee-count" [showButtons]="true" inputId="stacked" mode="decimal"
                            [min]="0" formControlName="maximum-attendee-count">
                        </p-inputNumber>
                    </div>
                </div>

                <div class="col">
                    <span>Minimum Attendee Count <span style="color:red;">*</span></span>
                    <div class="course-input-number minimum-attendee-count">

                        <p-inputNumber id="minimum-attendee-count" [showButtons]="true" inputId="stacked" mode="decimal"
                            [min]="0" formControlName="minimum-attendee-count">
                        </p-inputNumber>
                    </div>
                </div>

                <div class="col">
                    <span>Maximum Attendee Waitlist <span style="color:red;">*</span></span>
                    <div class="course-input-number maximum-attendee-waitlist">
                        <p-inputNumber id="maximum-attendee-waitlist" [showButtons]="true" inputId="stacked"
                            mode="decimal" [min]="0" formControlName="maximumAttendeeWaitlist">
                        </p-inputNumber>
                    </div>
                </div>
            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Prerequisite CourseId <span style="color:red;">*</span></span>
                    <input type="text" class="course-input prerequisite-course-id" placeholder="Prerequisite Course ID"
                        pInputText pKeyFilter="alphanum" formControlName="prerequisite-course-id" />
                </div>

                <div class="col">
                    <span>Equivalent Course ID <span style="color:red;">*</span></span>
                    <input type="text" class="course-input equivalent-course-id" placeholder="Equivalent Course ID"
                        pInputText pKeyFilter="alphanum" formControlName="equivalent-course-id" />
                </div>

                <div class="col">
                    <span>First Delivery Date<span style="color:red;">*</span></span>
                    <p-calendar class="course-calendar first-delivery-date" formControlName="firstdeliverydate"
                        placeholder="First Delivery Date" [showIcon]="true">
                    </p-calendar>
                    <div *ngIf="addcourse.controls.firstdeliverydate.invalid && addcourse.controls.firstdeliverydate.touched"
                        class="text-danger">
                        The First Delivery Date is required.
                    </div>
                </div>
            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Level Of Effort <span style="color:red;">*</span></span>
                    <input type="text" class="course-input level-of-effort" placeholder="Level of Effort" pInputText
                        pKeyFilter="alphanum" formControlName="level-of-effort" />
                </div>

                <div class="col">
                    <span>Vendor(s) <span style="color:red;">*</span></span>
                    <input type="text" class="course-input vendor(s)" placeholder="Vendor(s)" pInputText
                        formControlName="vendor" />
                </div>

                <div class="col">
                    <span>Status <span style="color:red;">*</span></span>
                    <p-dropdown class="course-drop-down delivery-type" [options]="status" formControlName="status"
                        optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                        placeholder="Select a Delivery Type">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedStatus">
                                <div>{{ selectedStatus.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Duration<span style="color:red;">*</span></span>
                    <input type="text" class="course-input duration" placeholder="Duration" pInputText
                        pKeyFilter="alphanum" formControlName="duration" />
                </div>
                <div class="col">
                    <span>Project Status <span style="color:red;">*</span></span>
                    <p-dropdown class="course-drop-down project-status" [options]="projectStatus"
                        formControlName="project-status" optionLabel="label" [filter]="true" filterBy="label"
                        [showClear]="true" placeholder="Select a Project Status">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedProjectStatus">
                                <div>{{ selectedProjectStatus.label }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="col">
                    <span>Collateral <span style="color:red;">*</span></span>
                    <div class="course-radio-group collateral">
                        <p-selectButton class="course-label" [options]="collaterals" formControlName="Collateral"
                            optionLabel="label" optionValue="value">
                        </p-selectButton>
                    </div>
                </div>
            </div>

            <div class="group-row row">

                <div class="col">
                    <span>New Domain<span style="color:red;">*</span></span>
                    <input type="text" class="course-input new-domain" placeholder="New Domain" pInputText
                        formControlName="new-domain" />
                </div>

                <div class="col">
                    <span>Disc Form <span style="color:red;">*</span></span>
                    <input type="text" class="course-input disc-from" placeholder="Disc From" pInputText
                        formControlName="disc-from" />
                </div>

                <div class="col">
                    <span>Displayed to Learner <span style="color:red;">*</span></span>
                    <input type="text" class="course-input displayed-to-learner " placeholder="Displayed to Learner "
                        pInputText formControlName="displayed-to-learner" />
                </div>
            </div>

            <div class="group-row row">
                <div class="col">
                    <span>Service ID <span style="color:red;">*</span></span>
                    <input type="text" class="course-input dervice-now-id" placeholder="Service Now ID" pInputText
                        pKeyFilter="alphanum" formControlName="serviceid" />
                    <div *ngIf="addcourse.controls.serviceid.invalid && addcourse.controls.serviceid.touched"
                        class="text-danger">
                        The Service ID is required.
                    </div>
                </div>

                <div class="col">
                    <span>Subject Matter Professional<span style="color:red;">*</span></span>
                    <input type="text" class="course-input subject-matter-professional"
                        placeholder="Subject Matter Professional" pInputText pKeyFilter="alphanum"
                        formControlName="subject-matter-professional" />
                </div>
            </div><br>
            <div class="coursem-btn">
                <button label="add course" class="user-btn p-button " type="submit">
                    <span class="p-button-label">Save</span>
                </button>
                <button label="add course" routerLink="/course-management" class="user-btn p-button "
                    style="margin-left: 50px;">
                    <span class="p-button-label">Cancel</span>
                </button>
            </div>

        </form>
    </p-fieldset>
</div>