 @import "../../../assets/scss/custom.scss";

:host ::ng-deep {

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
.btns{
   margin-left: 800px;
}


 td a.edit {
    color: #4321ec;
}
 td a.delete {
    color:#4321ec;
}

.btn-primary{
//margin-left: 800px;
border-radius: 3px;
background-color: #4321ec;
color: white;

}

tr{width: 500px}

    .card{
        @extend .p-2;
        @extend .shadow-2;
        @extend .border-round;
        @extend .flex-auto;
        @extend .w-auto;
         height: 100%;
        max-width: 100%;

    }
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;

        }

    }

    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }

    .table-header {
        display: flex;
        justify-content: space-between;

        // .global-search{
        //     width: auto;
        // }
    }

    .p-calendar .p-datepicker {
        min-width: 25rem;

        td {
            font-weight: 400;
        }
    }

    .p-datatable.p-datatable-users {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1rem;
        }

        .p-paginator {
            padding: 1rem;
        }

        .p-datatable-thead > tr > th {
            text-align: left;
        }

        .p-datatable-tbody > tr > td {
            cursor: auto;
        }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }

    .p-w-100 {
        width: 100%;
    }
    .p-datatable{
        overflow-y: hidden;
    }

    // / Responsive /
    .p-datatable-users .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-users {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr {
                    border-bottom: 1px solid var(--layer-2);

                    > td {
                        text-align: left;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        border: 0 none;

                        .p-column-title {
                            min-width: 30%;
                            display: inline-block;
                            font-weight: bold;
                        }

                        p-progressbar {
                            width: 100%;
                        }

                        &:last-child {
                            border-bottom: 1px solid var(--surface-d);
                        }
                    }
                }
            }
        }
    }
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.flex {
    display: flex !important;
}
    .selectColum::after {
      position: absolute;
      right: 14px;
      top: 22px;
  }
  .k-icon k-i-edit{
    color: #4321ec;
  }
}
.search-container {
 margin-left: 970px;
}

.button-container {
  display: flex;

}

