<div class="card">
    <p-table #dt1 [value]="CourseData" dataKey="CourseMasterID" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" scrollHeight="200"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['CourseMasterID','CourseID', 'CourseName', 'LDIntakeOwner', 'ProjectManagerContact', 'CourseSponsor', 'DeploymentFiscalYear']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button> -->
                <button pButton class="btn-excel-width" (click)="downloadExceloffocusN()"
                    *ngIf="hasPermission.hasPermissionDownloadCourseRDIforFocus">
                    Export RDI for Focus
                </button>

                <button pButton class="btn-excel-width" (click)="downloadExcelofClarizeN()"
                    *ngIf="hasPermission.hasPermissionDownloadCourseRDIforClarizen">
                    Export RDI for Clarizen
                </button>
                <!-- <button pButton class="btn-excel-width" (click)="downloadExcelofDeployment()"
                    *ngIf="hasPermission.hasPermissionDownloadCourse">
                    Export RDI for Deployment
                </button> -->
                <button pButton class="btn-excel-width" (click)="cancelSelection()">Reset</button>

                <span class="p-input-icon-left ml-auto filter-bar">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword" />
                    <button pButton class="p-button-outlined btn-width" icon="pi pi-plus" (click)="AddCourse()"
                        *ngIf="hasPermission.hasPermissionCreateCourse">
                    </button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex align-items-center">
                        <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
                        <span class="select-all-text">Select All</span>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Course ID
                        <p-columnFilter type="text" field="CourseID" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Course Name
                        <p-columnFilter type="text" field="CourseName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        L&D Intake Owner
                        <p-columnFilter type="date" field="LDIntakeOwner" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Project Manager Contact
                        <p-columnFilter type="text" field="ProjectManagerContact" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Course Sponsor
                        <p-columnFilter type="text" field="DeploymentFiscalYear" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Deployment Year
                        <p-columnFilter type="number" field="DeploymentFiscalYear" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width:140px">
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course>
            <tr>
                <td>

                    <span class="edit-btn">
                        <input type="checkbox" (change)="toggleCourseSelection(course.CourseMasterID)"
                            [checked]="isCourseSelected(course.CourseMasterID)">

                    </span>
                </td>
                <td>
                    <!-- <a [routerLink]="['/course-details']" [queryParams]="{id: course.CourseMasterID}">
                        {{ course.CourseID }}</a> -->

                    {{ course.CourseID }}

                </td>
                <td>
                    <!-- <a [routerLink]="['/course-details']" [queryParams]="{id: course.CourseMasterID}"> -->
                    {{ course.CourseName }}
                    <!--</a>-->
                </td>
                <td>
                    {{ course.LDIIntakeOwnerText }}
                </td>
                <td>
                    {{ course.ProjectManagerContactMasterText }}
                </td>
                <td>
                    {{ course.CourseSponsor }}
                </td>
                <td>
                    {{ course.StatusText }}
                </td>
                <td style="text-align: center;width:140px">
                    <span class="edit-btn">
                        <i class="pi pi-eye" *ngIf="hasPermission.hasPermissionReviewCourse"
                            (click)="ViewCourse(course.CourseMasterID)"></i>
                    </span>
                    <span class="edit-btn">
                        <i class="pi pi-pencil" *ngIf="hasPermission.hasPermissionUpdateCourse"
                            (click)="EditCourse(course.CourseMasterID)"></i>
                    </span>
                    <span class="edit-btn">
                        <i class="pi pi-trash" *ngIf="hasPermission.hasPermissionDisableCourse"
                            (click)="DeleteCourse(course.CourseMasterID)"></i>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No Course found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>