<div class="card" style="overflow-x: auto; ">
    <p-table #dt1 [value]="CourseList" dataKey="CourseMasterID" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[{showAll: 'All'},100, 200, 500 ]" [loading]="loading" [paginator]="true"
        scrollHeight="200" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [tableStyle]="{'min-height': '30rem'}"
        [globalFilterFields]="['CourseMasterID','CourseID', 'CourseName', 'TargetAudience', 'FirstDeliveryDate',
         'EstimatedCPE','ProgramKnowledgeLeveltext', 'CompetencyText','InstructionalDesignertext', 'ProgramTypeText', 'DeliveryTypeText','LDIIntakeOwnerText','IndustryMasterID', 'ProjectManagerContactMasterText', 'CourseSponsor','Vendor','ServiceNowID', 'Duration','Domain',  'FieldOfStudyMasterID','StatusText',  'DeploymentFiscalYear']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <!-- <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}"
                    placeholder="Choose Columns"></p-multiSelect> -->
                <input type="checkbox">Wrap Text
                <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button> -->
                <button pButton class="btn-excel-width" (click)=" UnlockCourse()">Unlock Course</button>

                <button pButton class="btn-excel-width" (click)="downloadExceloffocusN()"
                    *ngIf="hasPermission.hasPermissionDownloadCourseRDIforFocus">
                    Export RDI for Focus
                </button>

                <button pButton class="btn-excel-width" (click)="downloadExcelofClarizeN()"
                    *ngIf="hasPermission.hasPermissionDownloadCourseRDIforClarizen">
                    Export RDI for Clarizen
                </button>
                <button pButton class="btn-excel-width" (click)="downloadExcelofDeployment()">
                    Export RDI for All Courses
                </button>
                <button pButton class="btn-excel-width" (click)="downloadExcelofFilter()">
                    Export RDI Filter
                </button>
                <button pButton class="btn-excel-width" (click)="cancelSelection()">Reset</button>

                <span class="p-input-icon-left ml-auto filter-bar">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword" />
                    <button pButton class="p-button-outlined btn-width" icon="pi pi-plus" (click)="AddCourse()"
                        *ngIf="hasPermission.hasPermissionCreateCourse">
                    </button>
                </span>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr class="sticky-header">

                <th class=" sticky-col first-col ">
                    <div class="flex align-items-center ">
                        <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
                        <span class="select-all-text">Select All</span>
                    </div>
                </th>
                <th style="width:140px" class="sticky-col second-col">
                    Action
                </th>
                <th class="sticky-col third-col">
                    <div class="flex align-items-center  ">
                        Course ID
                        <p-columnFilter type="text" field="CourseID" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th class="sticky-col fourth-col">
                    <div class="flex align-items-center  sticky-header">
                        Course Name
                        <p-columnFilter type="text" field="CourseName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        Target Audience
                        <p-columnFilter type="text" field="TargetAudience" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        First Delivery Date
                        <p-columnFilter type="text" field="FirstDeliveryDate" display="menu"></p-columnFilter>
                    </div>
                </th>
                <!-- <th>
                    <div class="flex align-items-center sticky-header">
                        FOS
                        <p-columnFilter type="text" field="" display="menu"></p-columnFilter>
                    </div>
                </th> -->
                <th>
                    <div class="flex align-items-center sticky-header">
                        Estimated CPE
                        <p-columnFilter type="text" field="EstimatedCPE" display="menu"></p-columnFilter>
                    </div>
                </th>
                <!-- <th>
                    <div class="flex align-items-center sticky-header">
                        Skill
                        <p-columnFilter type="text" field="" display="menu"></p-columnFilter>
                    </div>
                </th> -->
                <th>
                    <div class="flex align-items-center sticky-header">
                        Program Type
                        <p-columnFilter type="text" field="ProgramTypeText " display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        Delivery Type
                        <p-columnFilter type="text" field="DeliveryTypeText" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        L&D Intake Owner
                        <p-columnFilter type="text" field="LDIIntakeOwnerText" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        Program Knowladge Level
                        <p-columnFilter type="text" field="ProgramKnowledgeLeveltext" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        Instructional Designer
                        <p-columnFilter type="text" field="InstructionalDesignertext" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        Project Manager Contact
                        <p-columnFilter type="text" field="ProjectManagerContactMasterText"
                            display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        Competency
                        <p-columnFilter type="text" field="CompetencyText" display="menu"></p-columnFilter>
                    </div>
                </th>
                <!-- <th>
                    <div class="flex align-items-center sticky-header">
                        Industry
                        <p-columnFilter type="text" field="IndustryText" display="menu"></p-columnFilter>
                    </div>
                </th> -->

                <th>
                    <div class="flex align-items-center sticky-header">
                        Course Sponsor
                        <p-columnFilter type="text" field="CourseSponsor" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        Vendor
                        <p-columnFilter type="text" field="Vendor" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        ServiceNowID
                        <p-columnFilter type="text" field="ServiceNowID" display="menu"></p-columnFilter>
                    </div>
                </th>
                <!-- <th>
                    <div class="flex align-items-center sticky-header">
                        SG/SL/SN sponsor
                        <p-columnFilter type="text" field="" display="menu"></p-columnFilter>
                    </div>
                </th> -->
                <th>
                    <div class="flex align-items-center sticky-header">
                        Duration
                        <p-columnFilter type="text" field="Duration" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center sticky-header">
                        Domain
                        <p-columnFilter type="text" field="Domain" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex align-items-center sticky-header">
                        Project Status
                        <p-columnFilter type="text" field="StatusText" display="menu"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course>
            <tr>
                <td class="sticky-col first-col">

                    <span class="edit-btn">
                        <input type="checkbox" (change)="toggleCourseSelection(course.CourseMasterID)"
                            [checked]="isCourseSelected(course.CourseMasterID)">

                    </span>
                </td>
                <td style="text-align: center;width:140px" class="sticky-col second-col">
                    <span class="edit-btn">
                        <i class="pi pi-eye" *ngIf="hasPermission.hasPermissionReviewCourse"
                            (click)="ViewCourse(course.CourseMasterID)"></i>
                    </span>
                    <span class="edit-btn">
                        <i class="pi pi-pencil" *ngIf="hasPermission.hasPermissionUpdateCourse"
                            (click)="EditCourse(course.CourseMasterID)"></i>
                    </span>
                    <span class="edit-btn">
                        <i class="pi pi-trash" *ngIf="hasPermission.hasPermissionDisableCourse"
                            (click)="DeleteCourse(course.CourseMasterID)"></i>
                    </span>
                </td>

                <td class="sticky-col third-col">
                    {{ course.CourseID }}
                </td>
                <td class="sticky-col fourth-col">
                    {{ course.CourseName }}
                </td>
                <td>
                    {{ course.TargetAudience }}
                </td>
                <td>
                    {{ course.FirstDeliveryDate }}
                </td>
                <!-- <td>
                    {{Course.FOS}}
                </td> -->
                <td>
                    {{ course.EstimatedCPE }}
                </td>
                <!--   <td>
                    {{ course.Skilltext }}
                </td>-->
                <td>
                    {{ course.ProgramTypeText }}
                </td>
                <td>
                    {{ course.DeliveryTypeText }}
                </td>
                <td>
                    {{ course.LDIIntakeOwnerText }}
                </td>
                <td>
                    {{ course.ProgramKnowledgeLeveltext }}
                </td>
                <td>
                    {{ course.InstructionalDesignertext }}
                </td>
                <td>
                    {{ course.ProjectManagerContactMasterText }}
                </td>
                <td>
                    {{ course.CompetencyText }}
                </td>
                <!-- <td>
                    {{ course.IndustryText }}
                </td> -->


                <td>
                    {{ course.CourseSponsor }}
                </td>
                <td>
                    {{ course.Vendor }}
                </td>
                <td>
                    {{ course.ServiceNowID }}
                </td>
                <!-- <td>
                    {{course.SGSNSL}}
                </td> -->
                <td>
                    {{ course.Duration }}
                </td>
                <td>
                    {{ course.FocusDomain }}
                </td>

                <td>
                    {{ course.StatusText }}
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No Course found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>



<!-- <div class="card">
    <p-table [columns]="selectedColumns" [value]="products" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="caption">
            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}"
                placeholder="Choose Columns"></p-multiSelect>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Code</th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <td>{{product.code}}</td>
                <td *ngFor="let col of columns">
                    {{product[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div> -->