:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
}
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.flex {
    display: flex !important;
}

.p-input-icon-left{
    width: auto;
}

.p-button {
    width: auto;
}

.filter-bar{
    display: flex;
}

.btn-width{
    width: 50px;
    margin-left: 10px;
}

.btn-excel-width{
    margin-left: 10px;
}

.edit-btn{
    margin: 10px;
    cursor: pointer;
}

.p-datatable-header{
    padding: 0px;
}

.select-all-text {
    margin-left: 10px;
}

.center-alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}
.blue-title .modal-header {
  background-color: blue;
  color: white;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  z-index: 1

}

.first-col {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  left: 0px;
  z-index: 2;

}

.second-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  left: 100px;
  z-index: 2;
}

.third-col {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  left: 250px;
  z-index: 2
}

.fourth-col {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  left: 450px;
  z-index: 2
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}