

.vertical-align-baseline {
    vertical-align: baseline!important
}

.vertical-align-top {
    vertical-align: top!important
}

.vertical-align-middle {
    vertical-align: middle!important
}

.vertical-align-bottom {
    vertical-align: bottom!important
}

.vertical-align-text-top {
    vertical-align: text-top!important
}

.vertical-align-text-bottom {
    vertical-align: text-bottom!important
}

.vertical-align-sub {
    vertical-align: sub!important
}

.vertical-align-super {
    vertical-align: super!important
}

@media screen and (min-width: 576px) {
    .sm\:vertical-align-baseline {
        vertical-align:baseline!important
    }

    .sm\:vertical-align-top {
        vertical-align: top!important
    }

    .sm\:vertical-align-middle {
        vertical-align: middle!important
    }

    .sm\:vertical-align-bottom {
        vertical-align: bottom!important
    }

    .sm\:vertical-align-text-top {
        vertical-align: text-top!important
    }

    .sm\:vertical-align-text-bottom {
        vertical-align: text-bottom!important
    }

    .sm\:vertical-align-sub {
        vertical-align: sub!important
    }

    .sm\:vertical-align-super {
        vertical-align: super!important
    }
}

@media screen and (min-width: 768px) {
    .md\:vertical-align-baseline {
        vertical-align:baseline!important
    }

    .md\:vertical-align-top {
        vertical-align: top!important
    }

    .md\:vertical-align-middle {
        vertical-align: middle!important
    }

    .md\:vertical-align-bottom {
        vertical-align: bottom!important
    }

    .md\:vertical-align-text-top {
        vertical-align: text-top!important
    }

    .md\:vertical-align-text-bottom {
        vertical-align: text-bottom!important
    }

    .md\:vertical-align-sub {
        vertical-align: sub!important
    }

    .md\:vertical-align-super {
        vertical-align: super!important
    }
}

@media screen and (min-width: 992px) {
    .lg\:vertical-align-baseline {
        vertical-align:baseline!important
    }

    .lg\:vertical-align-top {
        vertical-align: top!important
    }

    .lg\:vertical-align-middle {
        vertical-align: middle!important
    }

    .lg\:vertical-align-bottom {
        vertical-align: bottom!important
    }

    .lg\:vertical-align-text-top {
        vertical-align: text-top!important
    }

    .lg\:vertical-align-text-bottom {
        vertical-align: text-bottom!important
    }

    .lg\:vertical-align-sub {
        vertical-align: sub!important
    }

    .lg\:vertical-align-super {
        vertical-align: super!important
    }
}

@media screen and (min-width: 1200px) {
    .xl\:vertical-align-baseline {
        vertical-align:baseline!important
    }

    .xl\:vertical-align-top {
        vertical-align: top!important
    }

    .xl\:vertical-align-middle {
        vertical-align: middle!important
    }

    .xl\:vertical-align-bottom {
        vertical-align: bottom!important
    }

    .xl\:vertical-align-text-top {
        vertical-align: text-top!important
    }

    .xl\:vertical-align-text-bottom {
        vertical-align: text-bottom!important
    }

    .xl\:vertical-align-sub {
        vertical-align: sub!important
    }

    .xl\:vertical-align-super {
        vertical-align: super!important
    }
}


.justify-content-start {
    justify-content: flex-start!important
}

.justify-content-end {
    justify-content: flex-end!important
}

.justify-content-center {
    justify-content: center!important
}

.justify-content-between {
    justify-content: space-between!important
}

.justify-content-around {
    justify-content: space-around!important
}

.justify-content-evenly {
    justify-content: space-evenly!important
}

@media screen and (min-width: 576px) {
    .sm\:justify-content-start {
        justify-content:flex-start!important
    }

    .sm\:justify-content-end {
        justify-content: flex-end!important
    }

    .sm\:justify-content-center {
        justify-content: center!important
    }

    .sm\:justify-content-between {
        justify-content: space-between!important
    }

    .sm\:justify-content-around {
        justify-content: space-around!important
    }

    .sm\:justify-content-evenly {
        justify-content: space-evenly!important
    }
}

@media screen and (min-width: 768px) {
    .md\:justify-content-start {
        justify-content:flex-start!important
    }

    .md\:justify-content-end {
        justify-content: flex-end!important
    }

    .md\:justify-content-center {
        justify-content: center!important
    }

    .md\:justify-content-between {
        justify-content: space-between!important
    }

    .md\:justify-content-around {
        justify-content: space-around!important
    }

    .md\:justify-content-evenly {
        justify-content: space-evenly!important
    }
}

@media screen and (min-width: 992px) {
    .lg\:justify-content-start {
        justify-content:flex-start!important
    }

    .lg\:justify-content-end {
        justify-content: flex-end!important
    }

    .lg\:justify-content-center {
        justify-content: center!important
    }

    .lg\:justify-content-between {
        justify-content: space-between!important
    }

    .lg\:justify-content-around {
        justify-content: space-around!important
    }

    .lg\:justify-content-evenly {
        justify-content: space-evenly!important
    }
}

@media screen and (min-width: 1200px) {
    .xl\:justify-content-start {
        justify-content:flex-start!important
    }

    .xl\:justify-content-end {
        justify-content: flex-end!important
    }

    .xl\:justify-content-center {
        justify-content: center!important
    }

    .xl\:justify-content-between {
        justify-content: space-between!important
    }

    .xl\:justify-content-around {
        justify-content: space-around!important
    }

    .xl\:justify-content-evenly {
        justify-content: space-evenly!important
    }
}

.align-content-start {
    align-content: flex-start!important
}

.align-content-end {
    align-content: flex-end!important
}

.align-content-center {
    align-content: center!important
}

.align-content-between {
    align-content: space-between!important
}

.align-content-around {
    align-content: space-around!important
}

.align-content-evenly {
    align-content: space-evenly!important
}

@media screen and (min-width: 576px) {
    .sm\:align-content-start {
        align-content:flex-start!important
    }

    .sm\:align-content-end {
        align-content: flex-end!important
    }

    .sm\:align-content-center {
        align-content: center!important
    }

    .sm\:align-content-between {
        align-content: space-between!important
    }

    .sm\:align-content-around {
        align-content: space-around!important
    }

    .sm\:align-content-evenly {
        align-content: space-evenly!important
    }
}

@media screen and (min-width: 768px) {
    .md\:align-content-start {
        align-content:flex-start!important
    }

    .md\:align-content-end {
        align-content: flex-end!important
    }

    .md\:align-content-center {
        align-content: center!important
    }

    .md\:align-content-between {
        align-content: space-between!important
    }

    .md\:align-content-around {
        align-content: space-around!important
    }

    .md\:align-content-evenly {
        align-content: space-evenly!important
    }
}

@media screen and (min-width: 992px) {
    .lg\:align-content-start {
        align-content:flex-start!important
    }

    .lg\:align-content-end {
        align-content: flex-end!important
    }

    .lg\:align-content-center {
        align-content: center!important
    }

    .lg\:align-content-between {
        align-content: space-between!important
    }

    .lg\:align-content-around {
        align-content: space-around!important
    }

    .lg\:align-content-evenly {
        align-content: space-evenly!important
    }
}

@media screen and (min-width: 1200px) {
    .xl\:align-content-start {
        align-content:flex-start!important
    }

    .xl\:align-content-end {
        align-content: flex-end!important
    }

    .xl\:align-content-center {
        align-content: center!important
    }

    .xl\:align-content-between {
        align-content: space-between!important
    }

    .xl\:align-content-around {
        align-content: space-around!important
    }

    .xl\:align-content-evenly {
        align-content: space-evenly!important
    }
}

.align-items-stretch {
    align-items: stretch!important
}

.align-items-start {
    align-items: flex-start!important
}

.align-items-center {
    align-items: center!important
}

.align-items-end {
    align-items: flex-end!important
}

.align-items-baseline {
    align-items: baseline!important
}

@media screen and (min-width: 576px) {
    .sm\:align-items-stretch {
        align-items:stretch!important
    }

    .sm\:align-items-start {
        align-items: flex-start!important
    }

    .sm\:align-items-center {
        align-items: center!important
    }

    .sm\:align-items-end {
        align-items: flex-end!important
    }

    .sm\:align-items-baseline {
        align-items: baseline!important
    }
}

@media screen and (min-width: 768px) {
    .md\:align-items-stretch {
        align-items:stretch!important
    }

    .md\:align-items-start {
        align-items: flex-start!important
    }

    .md\:align-items-center {
        align-items: center!important
    }

    .md\:align-items-end {
        align-items: flex-end!important
    }

    .md\:align-items-baseline {
        align-items: baseline!important
    }
}

@media screen and (min-width: 992px) {
    .lg\:align-items-stretch {
        align-items:stretch!important
    }

    .lg\:align-items-start {
        align-items: flex-start!important
    }

    .lg\:align-items-center {
        align-items: center!important
    }

    .lg\:align-items-end {
        align-items: flex-end!important
    }

    .lg\:align-items-baseline {
        align-items: baseline!important
    }
}

@media screen and (min-width: 1200px) {
    .xl\:align-items-stretch {
        align-items:stretch!important
    }

    .xl\:align-items-start {
        align-items: flex-start!important
    }

    .xl\:align-items-center {
        align-items: center!important
    }

    .xl\:align-items-end {
        align-items: flex-end!important
    }

    .xl\:align-items-baseline {
        align-items: baseline!important
    }
}

.align-self-auto {
    align-self: auto!important
}

.align-self-start {
    align-self: flex-start!important
}

.align-self-end {
    align-self: flex-end!important
}

.align-self-center {
    align-self: center!important
}

.align-self-stretch {
    align-self: stretch!important
}

.align-self-baseline {
    align-self: baseline!important
}

@media screen and (min-width: 576px) {
    .sm\:align-self-auto {
        align-self:auto!important
    }

    .sm\:align-self-start {
        align-self: flex-start!important
    }

    .sm\:align-self-end {
        align-self: flex-end!important
    }

    .sm\:align-self-center {
        align-self: center!important
    }

    .sm\:align-self-stretch {
        align-self: stretch!important
    }

    .sm\:align-self-baseline {
        align-self: baseline!important
    }
}

@media screen and (min-width: 768px) {
    .md\:align-self-auto {
        align-self:auto!important
    }

    .md\:align-self-start {
        align-self: flex-start!important
    }

    .md\:align-self-end {
        align-self: flex-end!important
    }

    .md\:align-self-center {
        align-self: center!important
    }

    .md\:align-self-stretch {
        align-self: stretch!important
    }

    .md\:align-self-baseline {
        align-self: baseline!important
    }
}

@media screen and (min-width: 992px) {
    .lg\:align-self-auto {
        align-self:auto!important
    }

    .lg\:align-self-start {
        align-self: flex-start!important
    }

    .lg\:align-self-end {
        align-self: flex-end!important
    }

    .lg\:align-self-center {
        align-self: center!important
    }

    .lg\:align-self-stretch {
        align-self: stretch!important
    }

    .lg\:align-self-baseline {
        align-self: baseline!important
    }
}

@media screen and (min-width: 1200px) {
    .xl\:align-self-auto {
        align-self:auto!important
    }

    .xl\:align-self-start {
        align-self: flex-start!important
    }

    .xl\:align-self-end {
        align-self: flex-end!important
    }

    .xl\:align-self-center {
        align-self: center!important
    }

    .xl\:align-self-stretch {
        align-self: stretch!important
    }

    .xl\:align-self-baseline {
        align-self: baseline!important
    }
}
