
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../../assets/fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../../assets/fonts/OpenSans-Italic.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-Italic.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-Italic.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-CondensedLight";
  src: url("../../assets/fonts/OpenSans-CondensedLight.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-CondensedLight.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-CondensedLight.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../../assets/fonts/OpenSans-Light.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-Light.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../../assets/fonts/OpenSans-LightItalic.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-LightItalic.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-LightItalic.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../assets/fonts/OpenSans-Semibold.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-Semibold.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-Semibold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-SemiboldItalic";
  src: url("../../assets/fonts/OpenSans-SemiboldItalic.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-SemiboldItalic.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-SemiboldItalic.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../../assets/fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("../../assets/fonts/OpenSans-BoldItalic.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-BoldItalic.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-BoldItalic.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-ExtraBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("../../assets/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"),
    url("../../assets/fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
