
.m-0 {
    margin: 0rem!important
}

.m-1 {
    margin: .25rem!important
}

.m-2 {
    margin: .5rem!important
}

.m-3 {
    margin: 1rem!important
}

.m-4 {
    margin: 1.5rem!important
}

.m-5 {
    margin: 2rem!important
}

.m-6 {
    margin: 3rem!important
}

.m-7 {
    margin: 4rem!important
}

.m-8 {
    margin: 5rem!important
}

.-m-1 {
    margin: -.25rem!important
}

.-m-2 {
    margin: -.5rem!important
}

.-m-3 {
    margin: -1rem!important
}

.-m-4 {
    margin: -1.5rem!important
}

.-m-5 {
    margin: -2rem!important
}

.-m-6 {
    margin: -3rem!important
}

.-m-7 {
    margin: -4rem!important
}

.-m-8 {
    margin: -5rem!important
}

.m-auto {
    margin: auto!important
}

.mt-0 {
    margin-top: 0rem!important
}

.mt-1 {
    margin-top: .25rem!important
}

.mt-2 {
    margin-top: .5rem!important
}

.mt-3 {
    margin-top: 1rem!important
}

.mt-4 {
    margin-top: 1.5rem!important
}

.mt-5 {
    margin-top: 2rem!important
}

.mt-6 {
    margin-top: 3rem!important
}

.mt-7 {
    margin-top: 4rem!important
}

.mt-8 {
    margin-top: 5rem!important
}

.-mt-1 {
    margin-top: -.25rem!important
}

.-mt-2 {
    margin-top: -.5rem!important
}

.-mt-3 {
    margin-top: -1rem!important
}

.-mt-4 {
    margin-top: -1.5rem!important
}

.-mt-5 {
    margin-top: -2rem!important
}

.-mt-6 {
    margin-top: -3rem!important
}

.-mt-7 {
    margin-top: -4rem!important
}

.-mt-8 {
    margin-top: -5rem!important
}

.mt-auto {
    margin-top: auto!important
}

.mr-0 {
    margin-right: 0rem!important
}

.mr-1 {
    margin-right: .25rem!important
}

.mr-2 {
    margin-right: .5rem!important
}

.mr-3 {
    margin-right: 1rem!important
}

.mr-4 {
    margin-right: 1.5rem!important
}

.mr-5 {
    margin-right: 2rem!important
}

.mr-6 {
    margin-right: 3rem!important
}

.mr-7 {
    margin-right: 4rem!important
}

.mr-8 {
    margin-right: 5rem!important
}

.-mr-1 {
    margin-right: -.25rem!important
}

.-mr-2 {
    margin-right: -.5rem!important
}

.-mr-3 {
    margin-right: -1rem!important
}

.-mr-4 {
    margin-right: -1.5rem!important
}

.-mr-5 {
    margin-right: -2rem!important
}

.-mr-6 {
    margin-right: -3rem!important
}

.-mr-7 {
    margin-right: -4rem!important
}

.-mr-8 {
    margin-right: -5rem!important
}

.mr-auto {
    margin-right: auto!important
}

.ml-0 {
    margin-left: 0rem!important
}

.ml-1 {
    margin-left: .25rem!important
}

.ml-2 {
    margin-left: .5rem!important
}

.ml-3 {
    margin-left: 1rem!important
}

.ml-4 {
    margin-left: 1.5rem!important
}

.ml-5 {
    margin-left: 2rem!important
}

.ml-6 {
    margin-left: 3rem!important
}

.ml-7 {
    margin-left: 4rem!important
}

.ml-8 {
    margin-left: 5rem!important
}

.-ml-1 {
    margin-left: -.25rem!important
}

.-ml-2 {
    margin-left: -.5rem!important
}

.-ml-3 {
    margin-left: -1rem!important
}

.-ml-4 {
    margin-left: -1.5rem!important
}

.-ml-5 {
    margin-left: -2rem!important
}

.-ml-6 {
    margin-left: -3rem!important
}

.-ml-7 {
    margin-left: -4rem!important
}

.-ml-8 {
    margin-left: -5rem!important
}

.ml-auto {
    margin-left: auto!important
}

.mb-0 {
    margin-bottom: 0rem!important
}

.mb-1 {
    margin-bottom: .25rem!important
}

.mb-2 {
    margin-bottom: .5rem!important
}

.mb-3 {
    margin-bottom: 1rem!important
}

.mb-4 {
    margin-bottom: 1.5rem!important
}

.mb-5 {
    margin-bottom: 2rem!important
}

.mb-6 {
    margin-bottom: 3rem!important
}

.mb-7 {
    margin-bottom: 4rem!important
}

.mb-8 {
    margin-bottom: 5rem!important
}

.-mb-1 {
    margin-bottom: -.25rem!important
}

.-mb-2 {
    margin-bottom: -.5rem!important
}

.-mb-3 {
    margin-bottom: -1rem!important
}

.-mb-4 {
    margin-bottom: -1.5rem!important
}

.-mb-5 {
    margin-bottom: -2rem!important
}

.-mb-6 {
    margin-bottom: -3rem!important
}

.-mb-7 {
    margin-bottom: -4rem!important
}

.-mb-8 {
    margin-bottom: -5rem!important
}

.mb-auto {
    margin-bottom: auto!important
}

.mx-0 {
    margin-left: 0rem!important;
    margin-right: 0rem!important
}

.mx-1 {
    margin-left: .25rem!important;
    margin-right: .25rem!important
}

.mx-2 {
    margin-left: .5rem!important;
    margin-right: .5rem!important
}

.mx-3 {
    margin-left: 1rem!important;
    margin-right: 1rem!important
}

.mx-4 {
    margin-left: 1.5rem!important;
    margin-right: 1.5rem!important
}

.mx-5 {
    margin-left: 2rem!important;
    margin-right: 2rem!important
}

.mx-6 {
    margin-left: 3rem!important;
    margin-right: 3rem!important
}

.mx-7 {
    margin-left: 4rem!important;
    margin-right: 4rem!important
}

.mx-8 {
    margin-left: 5rem!important;
    margin-right: 5rem!important
}

.-mx-1 {
    margin-left: -.25rem!important;
    margin-right: -.25rem!important
}

.-mx-2 {
    margin-left: -.5rem!important;
    margin-right: -.5rem!important
}

.-mx-3 {
    margin-left: -1rem!important;
    margin-right: -1rem!important
}

.-mx-4 {
    margin-left: -1.5rem!important;
    margin-right: -1.5rem!important
}

.-mx-5 {
    margin-left: -2rem!important;
    margin-right: -2rem!important
}

.-mx-6 {
    margin-left: -3rem!important;
    margin-right: -3rem!important
}

.-mx-7 {
    margin-left: -4rem!important;
    margin-right: -4rem!important
}

.-mx-8 {
    margin-left: -5rem!important;
    margin-right: -5rem!important
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important
}

.my-0 {
    margin-top: 0rem!important;
    margin-bottom: 0rem!important
}

.my-1 {
    margin-top: .25rem!important;
    margin-bottom: .25rem!important
}

.my-2 {
    margin-top: .5rem!important;
    margin-bottom: .5rem!important
}

.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important
}

.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important
}

.my-5 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important
}

.my-6 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important
}

.my-7 {
    margin-top: 4rem!important;
    margin-bottom: 4rem!important
}

.my-8 {
    margin-top: 5rem!important;
    margin-bottom: 5rem!important
}

.-my-1 {
    margin-top: -.25rem!important;
    margin-bottom: -.25rem!important
}

.-my-2 {
    margin-top: -.5rem!important;
    margin-bottom: -.5rem!important
}

.-my-3 {
    margin-top: -1rem!important;
    margin-bottom: -1rem!important
}

.-my-4 {
    margin-top: -1.5rem!important;
    margin-bottom: -1.5rem!important
}

.-my-5 {
    margin-top: -2rem!important;
    margin-bottom: -2rem!important
}

.-my-6 {
    margin-top: -3rem!important;
    margin-bottom: -3rem!important
}

.-my-7 {
    margin-top: -4rem!important;
    margin-bottom: -4rem!important
}

.-my-8 {
    margin-top: -5rem!important;
    margin-bottom: -5rem!important
}

.my-auto {
    margin-top: auto!important;
    margin-bottom: auto!important
}

@media screen and (min-width: 576px) {
    .sm\:m-0 {
        margin:0rem!important
    }

    .sm\:m-1 {
        margin: .25rem!important
    }

    .sm\:m-2 {
        margin: .5rem!important
    }

    .sm\:m-3 {
        margin: 1rem!important
    }

    .sm\:m-4 {
        margin: 1.5rem!important
    }

    .sm\:m-5 {
        margin: 2rem!important
    }

    .sm\:m-6 {
        margin: 3rem!important
    }

    .sm\:m-7 {
        margin: 4rem!important
    }

    .sm\:m-8 {
        margin: 5rem!important
    }

    .sm\:-m-1 {
        margin: -.25rem!important
    }

    .sm\:-m-2 {
        margin: -.5rem!important
    }

    .sm\:-m-3 {
        margin: -1rem!important
    }

    .sm\:-m-4 {
        margin: -1.5rem!important
    }

    .sm\:-m-5 {
        margin: -2rem!important
    }

    .sm\:-m-6 {
        margin: -3rem!important
    }

    .sm\:-m-7 {
        margin: -4rem!important
    }

    .sm\:-m-8 {
        margin: -5rem!important
    }

    .sm\:m-auto {
        margin: auto!important
    }

    .sm\:mt-0 {
        margin-top: 0rem!important
    }

    .sm\:mt-1 {
        margin-top: .25rem!important
    }

    .sm\:mt-2 {
        margin-top: .5rem!important
    }

    .sm\:mt-3 {
        margin-top: 1rem!important
    }

    .sm\:mt-4 {
        margin-top: 1.5rem!important
    }

    .sm\:mt-5 {
        margin-top: 2rem!important
    }

    .sm\:mt-6 {
        margin-top: 3rem!important
    }

    .sm\:mt-7 {
        margin-top: 4rem!important
    }

    .sm\:mt-8 {
        margin-top: 5rem!important
    }

    .sm\:-mt-1 {
        margin-top: -.25rem!important
    }

    .sm\:-mt-2 {
        margin-top: -.5rem!important
    }

    .sm\:-mt-3 {
        margin-top: -1rem!important
    }

    .sm\:-mt-4 {
        margin-top: -1.5rem!important
    }

    .sm\:-mt-5 {
        margin-top: -2rem!important
    }

    .sm\:-mt-6 {
        margin-top: -3rem!important
    }

    .sm\:-mt-7 {
        margin-top: -4rem!important
    }

    .sm\:-mt-8 {
        margin-top: -5rem!important
    }

    .sm\:mt-auto {
        margin-top: auto!important
    }

    .sm\:mr-0 {
        margin-right: 0rem!important
    }

    .sm\:mr-1 {
        margin-right: .25rem!important
    }

    .sm\:mr-2 {
        margin-right: .5rem!important
    }

    .sm\:mr-3 {
        margin-right: 1rem!important
    }

    .sm\:mr-4 {
        margin-right: 1.5rem!important
    }

    .sm\:mr-5 {
        margin-right: 2rem!important
    }

    .sm\:mr-6 {
        margin-right: 3rem!important
    }

    .sm\:mr-7 {
        margin-right: 4rem!important
    }

    .sm\:mr-8 {
        margin-right: 5rem!important
    }

    .sm\:-mr-1 {
        margin-right: -.25rem!important
    }

    .sm\:-mr-2 {
        margin-right: -.5rem!important
    }

    .sm\:-mr-3 {
        margin-right: -1rem!important
    }

    .sm\:-mr-4 {
        margin-right: -1.5rem!important
    }

    .sm\:-mr-5 {
        margin-right: -2rem!important
    }

    .sm\:-mr-6 {
        margin-right: -3rem!important
    }

    .sm\:-mr-7 {
        margin-right: -4rem!important
    }

    .sm\:-mr-8 {
        margin-right: -5rem!important
    }

    .sm\:mr-auto {
        margin-right: auto!important
    }

    .sm\:ml-0 {
        margin-left: 0rem!important
    }

    .sm\:ml-1 {
        margin-left: .25rem!important
    }

    .sm\:ml-2 {
        margin-left: .5rem!important
    }

    .sm\:ml-3 {
        margin-left: 1rem!important
    }

    .sm\:ml-4 {
        margin-left: 1.5rem!important
    }

    .sm\:ml-5 {
        margin-left: 2rem!important
    }

    .sm\:ml-6 {
        margin-left: 3rem!important
    }

    .sm\:ml-7 {
        margin-left: 4rem!important
    }

    .sm\:ml-8 {
        margin-left: 5rem!important
    }

    .sm\:-ml-1 {
        margin-left: -.25rem!important
    }

    .sm\:-ml-2 {
        margin-left: -.5rem!important
    }

    .sm\:-ml-3 {
        margin-left: -1rem!important
    }

    .sm\:-ml-4 {
        margin-left: -1.5rem!important
    }

    .sm\:-ml-5 {
        margin-left: -2rem!important
    }

    .sm\:-ml-6 {
        margin-left: -3rem!important
    }

    .sm\:-ml-7 {
        margin-left: -4rem!important
    }

    .sm\:-ml-8 {
        margin-left: -5rem!important
    }

    .sm\:ml-auto {
        margin-left: auto!important
    }

    .sm\:mb-0 {
        margin-bottom: 0rem!important
    }

    .sm\:mb-1 {
        margin-bottom: .25rem!important
    }

    .sm\:mb-2 {
        margin-bottom: .5rem!important
    }

    .sm\:mb-3 {
        margin-bottom: 1rem!important
    }

    .sm\:mb-4 {
        margin-bottom: 1.5rem!important
    }

    .sm\:mb-5 {
        margin-bottom: 2rem!important
    }

    .sm\:mb-6 {
        margin-bottom: 3rem!important
    }

    .sm\:mb-7 {
        margin-bottom: 4rem!important
    }

    .sm\:mb-8 {
        margin-bottom: 5rem!important
    }

    .sm\:-mb-1 {
        margin-bottom: -.25rem!important
    }

    .sm\:-mb-2 {
        margin-bottom: -.5rem!important
    }

    .sm\:-mb-3 {
        margin-bottom: -1rem!important
    }

    .sm\:-mb-4 {
        margin-bottom: -1.5rem!important
    }

    .sm\:-mb-5 {
        margin-bottom: -2rem!important
    }

    .sm\:-mb-6 {
        margin-bottom: -3rem!important
    }

    .sm\:-mb-7 {
        margin-bottom: -4rem!important
    }

    .sm\:-mb-8 {
        margin-bottom: -5rem!important
    }

    .sm\:mb-auto {
        margin-bottom: auto!important
    }

    .sm\:mx-0 {
        margin-left: 0rem!important;
        margin-right: 0rem!important
    }

    .sm\:mx-1 {
        margin-left: .25rem!important;
        margin-right: .25rem!important
    }

    .sm\:mx-2 {
        margin-left: .5rem!important;
        margin-right: .5rem!important
    }

    .sm\:mx-3 {
        margin-left: 1rem!important;
        margin-right: 1rem!important
    }

    .sm\:mx-4 {
        margin-left: 1.5rem!important;
        margin-right: 1.5rem!important
    }

    .sm\:mx-5 {
        margin-left: 2rem!important;
        margin-right: 2rem!important
    }

    .sm\:mx-6 {
        margin-left: 3rem!important;
        margin-right: 3rem!important
    }

    .sm\:mx-7 {
        margin-left: 4rem!important;
        margin-right: 4rem!important
    }

    .sm\:mx-8 {
        margin-left: 5rem!important;
        margin-right: 5rem!important
    }

    .sm\:-mx-1 {
        margin-left: -.25rem!important;
        margin-right: -.25rem!important
    }

    .sm\:-mx-2 {
        margin-left: -.5rem!important;
        margin-right: -.5rem!important
    }

    .sm\:-mx-3 {
        margin-left: -1rem!important;
        margin-right: -1rem!important
    }

    .sm\:-mx-4 {
        margin-left: -1.5rem!important;
        margin-right: -1.5rem!important
    }

    .sm\:-mx-5 {
        margin-left: -2rem!important;
        margin-right: -2rem!important
    }

    .sm\:-mx-6 {
        margin-left: -3rem!important;
        margin-right: -3rem!important
    }

    .sm\:-mx-7 {
        margin-left: -4rem!important;
        margin-right: -4rem!important
    }

    .sm\:-mx-8 {
        margin-left: -5rem!important;
        margin-right: -5rem!important
    }

    .sm\:mx-auto {
        margin-left: auto!important;
        margin-right: auto!important
    }

    .sm\:my-0 {
        margin-top: 0rem!important;
        margin-bottom: 0rem!important
    }

    .sm\:my-1 {
        margin-top: .25rem!important;
        margin-bottom: .25rem!important
    }

    .sm\:my-2 {
        margin-top: .5rem!important;
        margin-bottom: .5rem!important
    }

    .sm\:my-3 {
        margin-top: 1rem!important;
        margin-bottom: 1rem!important
    }

    .sm\:my-4 {
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important
    }

    .sm\:my-5 {
        margin-top: 2rem!important;
        margin-bottom: 2rem!important
    }

    .sm\:my-6 {
        margin-top: 3rem!important;
        margin-bottom: 3rem!important
    }

    .sm\:my-7 {
        margin-top: 4rem!important;
        margin-bottom: 4rem!important
    }

    .sm\:my-8 {
        margin-top: 5rem!important;
        margin-bottom: 5rem!important
    }

    .sm\:-my-1 {
        margin-top: -.25rem!important;
        margin-bottom: -.25rem!important
    }

    .sm\:-my-2 {
        margin-top: -.5rem!important;
        margin-bottom: -.5rem!important
    }

    .sm\:-my-3 {
        margin-top: -1rem!important;
        margin-bottom: -1rem!important
    }

    .sm\:-my-4 {
        margin-top: -1.5rem!important;
        margin-bottom: -1.5rem!important
    }

    .sm\:-my-5 {
        margin-top: -2rem!important;
        margin-bottom: -2rem!important
    }

    .sm\:-my-6 {
        margin-top: -3rem!important;
        margin-bottom: -3rem!important
    }

    .sm\:-my-7 {
        margin-top: -4rem!important;
        margin-bottom: -4rem!important
    }

    .sm\:-my-8 {
        margin-top: -5rem!important;
        margin-bottom: -5rem!important
    }

    .sm\:my-auto {
        margin-top: auto!important;
        margin-bottom: auto!important
    }
}

@media screen and (min-width: 768px) {
    .md\:m-0 {
        margin:0rem!important
    }

    .md\:m-1 {
        margin: .25rem!important
    }

    .md\:m-2 {
        margin: .5rem!important
    }

    .md\:m-3 {
        margin: 1rem!important
    }

    .md\:m-4 {
        margin: 1.5rem!important
    }

    .md\:m-5 {
        margin: 2rem!important
    }

    .md\:m-6 {
        margin: 3rem!important
    }

    .md\:m-7 {
        margin: 4rem!important
    }

    .md\:m-8 {
        margin: 5rem!important
    }

    .md\:-m-1 {
        margin: -.25rem!important
    }

    .md\:-m-2 {
        margin: -.5rem!important
    }

    .md\:-m-3 {
        margin: -1rem!important
    }

    .md\:-m-4 {
        margin: -1.5rem!important
    }

    .md\:-m-5 {
        margin: -2rem!important
    }

    .md\:-m-6 {
        margin: -3rem!important
    }

    .md\:-m-7 {
        margin: -4rem!important
    }

    .md\:-m-8 {
        margin: -5rem!important
    }

    .md\:m-auto {
        margin: auto!important
    }

    .md\:mt-0 {
        margin-top: 0rem!important
    }

    .md\:mt-1 {
        margin-top: .25rem!important
    }

    .md\:mt-2 {
        margin-top: .5rem!important
    }

    .md\:mt-3 {
        margin-top: 1rem!important
    }

    .md\:mt-4 {
        margin-top: 1.5rem!important
    }

    .md\:mt-5 {
        margin-top: 2rem!important
    }

    .md\:mt-6 {
        margin-top: 3rem!important
    }

    .md\:mt-7 {
        margin-top: 4rem!important
    }

    .md\:mt-8 {
        margin-top: 5rem!important
    }

    .md\:-mt-1 {
        margin-top: -.25rem!important
    }

    .md\:-mt-2 {
        margin-top: -.5rem!important
    }

    .md\:-mt-3 {
        margin-top: -1rem!important
    }

    .md\:-mt-4 {
        margin-top: -1.5rem!important
    }

    .md\:-mt-5 {
        margin-top: -2rem!important
    }

    .md\:-mt-6 {
        margin-top: -3rem!important
    }

    .md\:-mt-7 {
        margin-top: -4rem!important
    }

    .md\:-mt-8 {
        margin-top: -5rem!important
    }

    .md\:mt-auto {
        margin-top: auto!important
    }

    .md\:mr-0 {
        margin-right: 0rem!important
    }

    .md\:mr-1 {
        margin-right: .25rem!important
    }

    .md\:mr-2 {
        margin-right: .5rem!important
    }

    .md\:mr-3 {
        margin-right: 1rem!important
    }

    .md\:mr-4 {
        margin-right: 1.5rem!important
    }

    .md\:mr-5 {
        margin-right: 2rem!important
    }

    .md\:mr-6 {
        margin-right: 3rem!important
    }

    .md\:mr-7 {
        margin-right: 4rem!important
    }

    .md\:mr-8 {
        margin-right: 5rem!important
    }

    .md\:-mr-1 {
        margin-right: -.25rem!important
    }

    .md\:-mr-2 {
        margin-right: -.5rem!important
    }

    .md\:-mr-3 {
        margin-right: -1rem!important
    }

    .md\:-mr-4 {
        margin-right: -1.5rem!important
    }

    .md\:-mr-5 {
        margin-right: -2rem!important
    }

    .md\:-mr-6 {
        margin-right: -3rem!important
    }

    .md\:-mr-7 {
        margin-right: -4rem!important
    }

    .md\:-mr-8 {
        margin-right: -5rem!important
    }

    .md\:mr-auto {
        margin-right: auto!important
    }

    .md\:ml-0 {
        margin-left: 0rem!important
    }

    .md\:ml-1 {
        margin-left: .25rem!important
    }

    .md\:ml-2 {
        margin-left: .5rem!important
    }

    .md\:ml-3 {
        margin-left: 1rem!important
    }

    .md\:ml-4 {
        margin-left: 1.5rem!important
    }

    .md\:ml-5 {
        margin-left: 2rem!important
    }

    .md\:ml-6 {
        margin-left: 3rem!important
    }

    .md\:ml-7 {
        margin-left: 4rem!important
    }

    .md\:ml-8 {
        margin-left: 5rem!important
    }

    .md\:-ml-1 {
        margin-left: -.25rem!important
    }

    .md\:-ml-2 {
        margin-left: -.5rem!important
    }

    .md\:-ml-3 {
        margin-left: -1rem!important
    }

    .md\:-ml-4 {
        margin-left: -1.5rem!important
    }

    .md\:-ml-5 {
        margin-left: -2rem!important
    }

    .md\:-ml-6 {
        margin-left: -3rem!important
    }

    .md\:-ml-7 {
        margin-left: -4rem!important
    }

    .md\:-ml-8 {
        margin-left: -5rem!important
    }

    .md\:ml-auto {
        margin-left: auto!important
    }

    .md\:mb-0 {
        margin-bottom: 0rem!important
    }

    .md\:mb-1 {
        margin-bottom: .25rem!important
    }

    .md\:mb-2 {
        margin-bottom: .5rem!important
    }

    .md\:mb-3 {
        margin-bottom: 1rem!important
    }

    .md\:mb-4 {
        margin-bottom: 1.5rem!important
    }

    .md\:mb-5 {
        margin-bottom: 2rem!important
    }

    .md\:mb-6 {
        margin-bottom: 3rem!important
    }

    .md\:mb-7 {
        margin-bottom: 4rem!important
    }

    .md\:mb-8 {
        margin-bottom: 5rem!important
    }

    .md\:-mb-1 {
        margin-bottom: -.25rem!important
    }

    .md\:-mb-2 {
        margin-bottom: -.5rem!important
    }

    .md\:-mb-3 {
        margin-bottom: -1rem!important
    }

    .md\:-mb-4 {
        margin-bottom: -1.5rem!important
    }

    .md\:-mb-5 {
        margin-bottom: -2rem!important
    }

    .md\:-mb-6 {
        margin-bottom: -3rem!important
    }

    .md\:-mb-7 {
        margin-bottom: -4rem!important
    }

    .md\:-mb-8 {
        margin-bottom: -5rem!important
    }

    .md\:mb-auto {
        margin-bottom: auto!important
    }

    .md\:mx-0 {
        margin-left: 0rem!important;
        margin-right: 0rem!important
    }

    .md\:mx-1 {
        margin-left: .25rem!important;
        margin-right: .25rem!important
    }

    .md\:mx-2 {
        margin-left: .5rem!important;
        margin-right: .5rem!important
    }

    .md\:mx-3 {
        margin-left: 1rem!important;
        margin-right: 1rem!important
    }

    .md\:mx-4 {
        margin-left: 1.5rem!important;
        margin-right: 1.5rem!important
    }

    .md\:mx-5 {
        margin-left: 2rem!important;
        margin-right: 2rem!important
    }

    .md\:mx-6 {
        margin-left: 3rem!important;
        margin-right: 3rem!important
    }

    .md\:mx-7 {
        margin-left: 4rem!important;
        margin-right: 4rem!important
    }

    .md\:mx-8 {
        margin-left: 5rem!important;
        margin-right: 5rem!important
    }

    .md\:-mx-1 {
        margin-left: -.25rem!important;
        margin-right: -.25rem!important
    }

    .md\:-mx-2 {
        margin-left: -.5rem!important;
        margin-right: -.5rem!important
    }

    .md\:-mx-3 {
        margin-left: -1rem!important;
        margin-right: -1rem!important
    }

    .md\:-mx-4 {
        margin-left: -1.5rem!important;
        margin-right: -1.5rem!important
    }

    .md\:-mx-5 {
        margin-left: -2rem!important;
        margin-right: -2rem!important
    }

    .md\:-mx-6 {
        margin-left: -3rem!important;
        margin-right: -3rem!important
    }

    .md\:-mx-7 {
        margin-left: -4rem!important;
        margin-right: -4rem!important
    }

    .md\:-mx-8 {
        margin-left: -5rem!important;
        margin-right: -5rem!important
    }

    .md\:mx-auto {
        margin-left: auto!important;
        margin-right: auto!important
    }

    .md\:my-0 {
        margin-top: 0rem!important;
        margin-bottom: 0rem!important
    }

    .md\:my-1 {
        margin-top: .25rem!important;
        margin-bottom: .25rem!important
    }

    .md\:my-2 {
        margin-top: .5rem!important;
        margin-bottom: .5rem!important
    }

    .md\:my-3 {
        margin-top: 1rem!important;
        margin-bottom: 1rem!important
    }

    .md\:my-4 {
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important
    }

    .md\:my-5 {
        margin-top: 2rem!important;
        margin-bottom: 2rem!important
    }

    .md\:my-6 {
        margin-top: 3rem!important;
        margin-bottom: 3rem!important
    }

    .md\:my-7 {
        margin-top: 4rem!important;
        margin-bottom: 4rem!important
    }

    .md\:my-8 {
        margin-top: 5rem!important;
        margin-bottom: 5rem!important
    }

    .md\:-my-1 {
        margin-top: -.25rem!important;
        margin-bottom: -.25rem!important
    }

    .md\:-my-2 {
        margin-top: -.5rem!important;
        margin-bottom: -.5rem!important
    }

    .md\:-my-3 {
        margin-top: -1rem!important;
        margin-bottom: -1rem!important
    }

    .md\:-my-4 {
        margin-top: -1.5rem!important;
        margin-bottom: -1.5rem!important
    }

    .md\:-my-5 {
        margin-top: -2rem!important;
        margin-bottom: -2rem!important
    }

    .md\:-my-6 {
        margin-top: -3rem!important;
        margin-bottom: -3rem!important
    }

    .md\:-my-7 {
        margin-top: -4rem!important;
        margin-bottom: -4rem!important
    }

    .md\:-my-8 {
        margin-top: -5rem!important;
        margin-bottom: -5rem!important
    }

    .md\:my-auto {
        margin-top: auto!important;
        margin-bottom: auto!important
    }
}

@media screen and (min-width: 992px) {
    .lg\:m-0 {
        margin:0rem!important
    }

    .lg\:m-1 {
        margin: .25rem!important
    }

    .lg\:m-2 {
        margin: .5rem!important
    }

    .lg\:m-3 {
        margin: 1rem!important
    }

    .lg\:m-4 {
        margin: 1.5rem!important
    }

    .lg\:m-5 {
        margin: 2rem!important
    }

    .lg\:m-6 {
        margin: 3rem!important
    }

    .lg\:m-7 {
        margin: 4rem!important
    }

    .lg\:m-8 {
        margin: 5rem!important
    }

    .lg\:-m-1 {
        margin: -.25rem!important
    }

    .lg\:-m-2 {
        margin: -.5rem!important
    }

    .lg\:-m-3 {
        margin: -1rem!important
    }

    .lg\:-m-4 {
        margin: -1.5rem!important
    }

    .lg\:-m-5 {
        margin: -2rem!important
    }

    .lg\:-m-6 {
        margin: -3rem!important
    }

    .lg\:-m-7 {
        margin: -4rem!important
    }

    .lg\:-m-8 {
        margin: -5rem!important
    }

    .lg\:m-auto {
        margin: auto!important
    }

    .lg\:mt-0 {
        margin-top: 0rem!important
    }

    .lg\:mt-1 {
        margin-top: .25rem!important
    }

    .lg\:mt-2 {
        margin-top: .5rem!important
    }

    .lg\:mt-3 {
        margin-top: 1rem!important
    }

    .lg\:mt-4 {
        margin-top: 1.5rem!important
    }

    .lg\:mt-5 {
        margin-top: 2rem!important
    }

    .lg\:mt-6 {
        margin-top: 3rem!important
    }

    .lg\:mt-7 {
        margin-top: 4rem!important
    }

    .lg\:mt-8 {
        margin-top: 5rem!important
    }

    .lg\:-mt-1 {
        margin-top: -.25rem!important
    }

    .lg\:-mt-2 {
        margin-top: -.5rem!important
    }

    .lg\:-mt-3 {
        margin-top: -1rem!important
    }

    .lg\:-mt-4 {
        margin-top: -1.5rem!important
    }

    .lg\:-mt-5 {
        margin-top: -2rem!important
    }

    .lg\:-mt-6 {
        margin-top: -3rem!important
    }

    .lg\:-mt-7 {
        margin-top: -4rem!important
    }

    .lg\:-mt-8 {
        margin-top: -5rem!important
    }

    .lg\:mt-auto {
        margin-top: auto!important
    }

    .lg\:mr-0 {
        margin-right: 0rem!important
    }

    .lg\:mr-1 {
        margin-right: .25rem!important
    }

    .lg\:mr-2 {
        margin-right: .5rem!important
    }

    .lg\:mr-3 {
        margin-right: 1rem!important
    }

    .lg\:mr-4 {
        margin-right: 1.5rem!important
    }

    .lg\:mr-5 {
        margin-right: 2rem!important
    }

    .lg\:mr-6 {
        margin-right: 3rem!important
    }

    .lg\:mr-7 {
        margin-right: 4rem!important
    }

    .lg\:mr-8 {
        margin-right: 5rem!important
    }

    .lg\:-mr-1 {
        margin-right: -.25rem!important
    }

    .lg\:-mr-2 {
        margin-right: -.5rem!important
    }

    .lg\:-mr-3 {
        margin-right: -1rem!important
    }

    .lg\:-mr-4 {
        margin-right: -1.5rem!important
    }

    .lg\:-mr-5 {
        margin-right: -2rem!important
    }

    .lg\:-mr-6 {
        margin-right: -3rem!important
    }

    .lg\:-mr-7 {
        margin-right: -4rem!important
    }

    .lg\:-mr-8 {
        margin-right: -5rem!important
    }

    .lg\:mr-auto {
        margin-right: auto!important
    }

    .lg\:ml-0 {
        margin-left: 0rem!important
    }

    .lg\:ml-1 {
        margin-left: .25rem!important
    }

    .lg\:ml-2 {
        margin-left: .5rem!important
    }

    .lg\:ml-3 {
        margin-left: 1rem!important
    }

    .lg\:ml-4 {
        margin-left: 1.5rem!important
    }

    .lg\:ml-5 {
        margin-left: 2rem!important
    }

    .lg\:ml-6 {
        margin-left: 3rem!important
    }

    .lg\:ml-7 {
        margin-left: 4rem!important
    }

    .lg\:ml-8 {
        margin-left: 5rem!important
    }

    .lg\:-ml-1 {
        margin-left: -.25rem!important
    }

    .lg\:-ml-2 {
        margin-left: -.5rem!important
    }

    .lg\:-ml-3 {
        margin-left: -1rem!important
    }

    .lg\:-ml-4 {
        margin-left: -1.5rem!important
    }

    .lg\:-ml-5 {
        margin-left: -2rem!important
    }

    .lg\:-ml-6 {
        margin-left: -3rem!important
    }

    .lg\:-ml-7 {
        margin-left: -4rem!important
    }

    .lg\:-ml-8 {
        margin-left: -5rem!important
    }

    .lg\:ml-auto {
        margin-left: auto!important
    }

    .lg\:mb-0 {
        margin-bottom: 0rem!important
    }

    .lg\:mb-1 {
        margin-bottom: .25rem!important
    }

    .lg\:mb-2 {
        margin-bottom: .5rem!important
    }

    .lg\:mb-3 {
        margin-bottom: 1rem!important
    }

    .lg\:mb-4 {
        margin-bottom: 1.5rem!important
    }

    .lg\:mb-5 {
        margin-bottom: 2rem!important
    }

    .lg\:mb-6 {
        margin-bottom: 3rem!important
    }

    .lg\:mb-7 {
        margin-bottom: 4rem!important
    }

    .lg\:mb-8 {
        margin-bottom: 5rem!important
    }

    .lg\:-mb-1 {
        margin-bottom: -.25rem!important
    }

    .lg\:-mb-2 {
        margin-bottom: -.5rem!important
    }

    .lg\:-mb-3 {
        margin-bottom: -1rem!important
    }

    .lg\:-mb-4 {
        margin-bottom: -1.5rem!important
    }

    .lg\:-mb-5 {
        margin-bottom: -2rem!important
    }

    .lg\:-mb-6 {
        margin-bottom: -3rem!important
    }

    .lg\:-mb-7 {
        margin-bottom: -4rem!important
    }

    .lg\:-mb-8 {
        margin-bottom: -5rem!important
    }

    .lg\:mb-auto {
        margin-bottom: auto!important
    }

    .lg\:mx-0 {
        margin-left: 0rem!important;
        margin-right: 0rem!important
    }

    .lg\:mx-1 {
        margin-left: .25rem!important;
        margin-right: .25rem!important
    }

    .lg\:mx-2 {
        margin-left: .5rem!important;
        margin-right: .5rem!important
    }

    .lg\:mx-3 {
        margin-left: 1rem!important;
        margin-right: 1rem!important
    }

    .lg\:mx-4 {
        margin-left: 1.5rem!important;
        margin-right: 1.5rem!important
    }

    .lg\:mx-5 {
        margin-left: 2rem!important;
        margin-right: 2rem!important
    }

    .lg\:mx-6 {
        margin-left: 3rem!important;
        margin-right: 3rem!important
    }

    .lg\:mx-7 {
        margin-left: 4rem!important;
        margin-right: 4rem!important
    }

    .lg\:mx-8 {
        margin-left: 5rem!important;
        margin-right: 5rem!important
    }

    .lg\:-mx-1 {
        margin-left: -.25rem!important;
        margin-right: -.25rem!important
    }

    .lg\:-mx-2 {
        margin-left: -.5rem!important;
        margin-right: -.5rem!important
    }

    .lg\:-mx-3 {
        margin-left: -1rem!important;
        margin-right: -1rem!important
    }

    .lg\:-mx-4 {
        margin-left: -1.5rem!important;
        margin-right: -1.5rem!important
    }

    .lg\:-mx-5 {
        margin-left: -2rem!important;
        margin-right: -2rem!important
    }

    .lg\:-mx-6 {
        margin-left: -3rem!important;
        margin-right: -3rem!important
    }

    .lg\:-mx-7 {
        margin-left: -4rem!important;
        margin-right: -4rem!important
    }

    .lg\:-mx-8 {
        margin-left: -5rem!important;
        margin-right: -5rem!important
    }

    .lg\:mx-auto {
        margin-left: auto!important;
        margin-right: auto!important
    }

    .lg\:my-0 {
        margin-top: 0rem!important;
        margin-bottom: 0rem!important
    }

    .lg\:my-1 {
        margin-top: .25rem!important;
        margin-bottom: .25rem!important
    }

    .lg\:my-2 {
        margin-top: .5rem!important;
        margin-bottom: .5rem!important
    }

    .lg\:my-3 {
        margin-top: 1rem!important;
        margin-bottom: 1rem!important
    }

    .lg\:my-4 {
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important
    }

    .lg\:my-5 {
        margin-top: 2rem!important;
        margin-bottom: 2rem!important
    }

    .lg\:my-6 {
        margin-top: 3rem!important;
        margin-bottom: 3rem!important
    }

    .lg\:my-7 {
        margin-top: 4rem!important;
        margin-bottom: 4rem!important
    }

    .lg\:my-8 {
        margin-top: 5rem!important;
        margin-bottom: 5rem!important
    }

    .lg\:-my-1 {
        margin-top: -.25rem!important;
        margin-bottom: -.25rem!important
    }

    .lg\:-my-2 {
        margin-top: -.5rem!important;
        margin-bottom: -.5rem!important
    }

    .lg\:-my-3 {
        margin-top: -1rem!important;
        margin-bottom: -1rem!important
    }

    .lg\:-my-4 {
        margin-top: -1.5rem!important;
        margin-bottom: -1.5rem!important
    }

    .lg\:-my-5 {
        margin-top: -2rem!important;
        margin-bottom: -2rem!important
    }

    .lg\:-my-6 {
        margin-top: -3rem!important;
        margin-bottom: -3rem!important
    }

    .lg\:-my-7 {
        margin-top: -4rem!important;
        margin-bottom: -4rem!important
    }

    .lg\:-my-8 {
        margin-top: -5rem!important;
        margin-bottom: -5rem!important
    }

    .lg\:my-auto {
        margin-top: auto!important;
        margin-bottom: auto!important
    }
}

@media screen and (min-width: 1200px) {
    .xl\:m-0 {
        margin:0rem!important
    }

    .xl\:m-1 {
        margin: .25rem!important
    }

    .xl\:m-2 {
        margin: .5rem!important
    }

    .xl\:m-3 {
        margin: 1rem!important
    }

    .xl\:m-4 {
        margin: 1.5rem!important
    }

    .xl\:m-5 {
        margin: 2rem!important
    }

    .xl\:m-6 {
        margin: 3rem!important
    }

    .xl\:m-7 {
        margin: 4rem!important
    }

    .xl\:m-8 {
        margin: 5rem!important
    }

    .xl\:-m-1 {
        margin: -.25rem!important
    }

    .xl\:-m-2 {
        margin: -.5rem!important
    }

    .xl\:-m-3 {
        margin: -1rem!important
    }

    .xl\:-m-4 {
        margin: -1.5rem!important
    }

    .xl\:-m-5 {
        margin: -2rem!important
    }

    .xl\:-m-6 {
        margin: -3rem!important
    }

    .xl\:-m-7 {
        margin: -4rem!important
    }

    .xl\:-m-8 {
        margin: -5rem!important
    }

    .xl\:m-auto {
        margin: auto!important
    }

    .xl\:mt-0 {
        margin-top: 0rem!important
    }

    .xl\:mt-1 {
        margin-top: .25rem!important
    }

    .xl\:mt-2 {
        margin-top: .5rem!important
    }

    .xl\:mt-3 {
        margin-top: 1rem!important
    }

    .xl\:mt-4 {
        margin-top: 1.5rem!important
    }

    .xl\:mt-5 {
        margin-top: 2rem!important
    }

    .xl\:mt-6 {
        margin-top: 3rem!important
    }

    .xl\:mt-7 {
        margin-top: 4rem!important
    }

    .xl\:mt-8 {
        margin-top: 5rem!important
    }

    .xl\:-mt-1 {
        margin-top: -.25rem!important
    }

    .xl\:-mt-2 {
        margin-top: -.5rem!important
    }

    .xl\:-mt-3 {
        margin-top: -1rem!important
    }

    .xl\:-mt-4 {
        margin-top: -1.5rem!important
    }

    .xl\:-mt-5 {
        margin-top: -2rem!important
    }

    .xl\:-mt-6 {
        margin-top: -3rem!important
    }

    .xl\:-mt-7 {
        margin-top: -4rem!important
    }

    .xl\:-mt-8 {
        margin-top: -5rem!important
    }

    .xl\:mt-auto {
        margin-top: auto!important
    }

    .xl\:mr-0 {
        margin-right: 0rem!important
    }

    .xl\:mr-1 {
        margin-right: .25rem!important
    }

    .xl\:mr-2 {
        margin-right: .5rem!important
    }

    .xl\:mr-3 {
        margin-right: 1rem!important
    }

    .xl\:mr-4 {
        margin-right: 1.5rem!important
    }

    .xl\:mr-5 {
        margin-right: 2rem!important
    }

    .xl\:mr-6 {
        margin-right: 3rem!important
    }

    .xl\:mr-7 {
        margin-right: 4rem!important
    }

    .xl\:mr-8 {
        margin-right: 5rem!important
    }

    .xl\:-mr-1 {
        margin-right: -.25rem!important
    }

    .xl\:-mr-2 {
        margin-right: -.5rem!important
    }

    .xl\:-mr-3 {
        margin-right: -1rem!important
    }

    .xl\:-mr-4 {
        margin-right: -1.5rem!important
    }

    .xl\:-mr-5 {
        margin-right: -2rem!important
    }

    .xl\:-mr-6 {
        margin-right: -3rem!important
    }

    .xl\:-mr-7 {
        margin-right: -4rem!important
    }

    .xl\:-mr-8 {
        margin-right: -5rem!important
    }

    .xl\:mr-auto {
        margin-right: auto!important
    }

    .xl\:ml-0 {
        margin-left: 0rem!important
    }

    .xl\:ml-1 {
        margin-left: .25rem!important
    }

    .xl\:ml-2 {
        margin-left: .5rem!important
    }

    .xl\:ml-3 {
        margin-left: 1rem!important
    }

    .xl\:ml-4 {
        margin-left: 1.5rem!important
    }

    .xl\:ml-5 {
        margin-left: 2rem!important
    }

    .xl\:ml-6 {
        margin-left: 3rem!important
    }

    .xl\:ml-7 {
        margin-left: 4rem!important
    }

    .xl\:ml-8 {
        margin-left: 5rem!important
    }

    .xl\:-ml-1 {
        margin-left: -.25rem!important
    }

    .xl\:-ml-2 {
        margin-left: -.5rem!important
    }

    .xl\:-ml-3 {
        margin-left: -1rem!important
    }

    .xl\:-ml-4 {
        margin-left: -1.5rem!important
    }

    .xl\:-ml-5 {
        margin-left: -2rem!important
    }

    .xl\:-ml-6 {
        margin-left: -3rem!important
    }

    .xl\:-ml-7 {
        margin-left: -4rem!important
    }

    .xl\:-ml-8 {
        margin-left: -5rem!important
    }

    .xl\:ml-auto {
        margin-left: auto!important
    }

    .xl\:mb-0 {
        margin-bottom: 0rem!important
    }

    .xl\:mb-1 {
        margin-bottom: .25rem!important
    }

    .xl\:mb-2 {
        margin-bottom: .5rem!important
    }

    .xl\:mb-3 {
        margin-bottom: 1rem!important
    }

    .xl\:mb-4 {
        margin-bottom: 1.5rem!important
    }

    .xl\:mb-5 {
        margin-bottom: 2rem!important
    }

    .xl\:mb-6 {
        margin-bottom: 3rem!important
    }

    .xl\:mb-7 {
        margin-bottom: 4rem!important
    }

    .xl\:mb-8 {
        margin-bottom: 5rem!important
    }

    .xl\:-mb-1 {
        margin-bottom: -.25rem!important
    }

    .xl\:-mb-2 {
        margin-bottom: -.5rem!important
    }

    .xl\:-mb-3 {
        margin-bottom: -1rem!important
    }

    .xl\:-mb-4 {
        margin-bottom: -1.5rem!important
    }

    .xl\:-mb-5 {
        margin-bottom: -2rem!important
    }

    .xl\:-mb-6 {
        margin-bottom: -3rem!important
    }

    .xl\:-mb-7 {
        margin-bottom: -4rem!important
    }

    .xl\:-mb-8 {
        margin-bottom: -5rem!important
    }

    .xl\:mb-auto {
        margin-bottom: auto!important
    }

    .xl\:mx-0 {
        margin-left: 0rem!important;
        margin-right: 0rem!important
    }

    .xl\:mx-1 {
        margin-left: .25rem!important;
        margin-right: .25rem!important
    }

    .xl\:mx-2 {
        margin-left: .5rem!important;
        margin-right: .5rem!important
    }

    .xl\:mx-3 {
        margin-left: 1rem!important;
        margin-right: 1rem!important
    }

    .xl\:mx-4 {
        margin-left: 1.5rem!important;
        margin-right: 1.5rem!important
    }

    .xl\:mx-5 {
        margin-left: 2rem!important;
        margin-right: 2rem!important
    }

    .xl\:mx-6 {
        margin-left: 3rem!important;
        margin-right: 3rem!important
    }

    .xl\:mx-7 {
        margin-left: 4rem!important;
        margin-right: 4rem!important
    }

    .xl\:mx-8 {
        margin-left: 5rem!important;
        margin-right: 5rem!important
    }

    .xl\:-mx-1 {
        margin-left: -.25rem!important;
        margin-right: -.25rem!important
    }

    .xl\:-mx-2 {
        margin-left: -.5rem!important;
        margin-right: -.5rem!important
    }

    .xl\:-mx-3 {
        margin-left: -1rem!important;
        margin-right: -1rem!important
    }

    .xl\:-mx-4 {
        margin-left: -1.5rem!important;
        margin-right: -1.5rem!important
    }

    .xl\:-mx-5 {
        margin-left: -2rem!important;
        margin-right: -2rem!important
    }

    .xl\:-mx-6 {
        margin-left: -3rem!important;
        margin-right: -3rem!important
    }

    .xl\:-mx-7 {
        margin-left: -4rem!important;
        margin-right: -4rem!important
    }

    .xl\:-mx-8 {
        margin-left: -5rem!important;
        margin-right: -5rem!important
    }

    .xl\:mx-auto {
        margin-left: auto!important;
        margin-right: auto!important
    }

    .xl\:my-0 {
        margin-top: 0rem!important;
        margin-bottom: 0rem!important
    }

    .xl\:my-1 {
        margin-top: .25rem!important;
        margin-bottom: .25rem!important
    }

    .xl\:my-2 {
        margin-top: .5rem!important;
        margin-bottom: .5rem!important
    }

    .xl\:my-3 {
        margin-top: 1rem!important;
        margin-bottom: 1rem!important
    }

    .xl\:my-4 {
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important
    }

    .xl\:my-5 {
        margin-top: 2rem!important;
        margin-bottom: 2rem!important
    }

    .xl\:my-6 {
        margin-top: 3rem!important;
        margin-bottom: 3rem!important
    }

    .xl\:my-7 {
        margin-top: 4rem!important;
        margin-bottom: 4rem!important
    }

    .xl\:my-8 {
        margin-top: 5rem!important;
        margin-bottom: 5rem!important
    }

    .xl\:-my-1 {
        margin-top: -.25rem!important;
        margin-bottom: -.25rem!important
    }

    .xl\:-my-2 {
        margin-top: -.5rem!important;
        margin-bottom: -.5rem!important
    }

    .xl\:-my-3 {
        margin-top: -1rem!important;
        margin-bottom: -1rem!important
    }

    .xl\:-my-4 {
        margin-top: -1.5rem!important;
        margin-bottom: -1.5rem!important
    }

    .xl\:-my-5 {
        margin-top: -2rem!important;
        margin-bottom: -2rem!important
    }

    .xl\:-my-6 {
        margin-top: -3rem!important;
        margin-bottom: -3rem!important
    }

    .xl\:-my-7 {
        margin-top: -4rem!important;
        margin-bottom: -4rem!important
    }

    .xl\:-my-8 {
        margin-top: -5rem!important;
        margin-bottom: -5rem!important
    }

    .xl\:my-auto {
        margin-top: auto!important;
        margin-bottom: auto!important
    }
}
