

.shadow-none {
    box-shadow: none!important
}

.shadow-1 {
    box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
}

.shadow-2 {
    box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
}

.shadow-3 {
    box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
}

.shadow-4 {
    box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
}

.shadow-5 {
    box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
}

.shadow-6 {
    box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
}

.shadow-7 {
    box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
}

.shadow-8 {
    box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
}

.focus\:shadow-none:focus {
    box-shadow: none!important
}

.hover\:shadow-none:hover,.active\:shadow-none:active {
    box-shadow: none!important
}

.focus\:shadow-1:focus {
    box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
}

.hover\:shadow-1:hover,.active\:shadow-1:active {
    box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
}

.focus\:shadow-2:focus {
    box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
}

.hover\:shadow-2:hover,.active\:shadow-2:active {
    box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
}

.focus\:shadow-3:focus {
    box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
}

.hover\:shadow-3:hover,.active\:shadow-3:active {
    box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
}

.focus\:shadow-4:focus {
    box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
}

.hover\:shadow-4:hover,.active\:shadow-4:active {
    box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
}

.focus\:shadow-5:focus {
    box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
}

.hover\:shadow-5:hover,.active\:shadow-5:active {
    box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
}

.focus\:shadow-6:focus {
    box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
}

.hover\:shadow-6:hover,.active\:shadow-6:active {
    box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
}

.focus\:shadow-7:focus {
    box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
}

.hover\:shadow-7:hover,.active\:shadow-7:active {
    box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
}

.focus\:shadow-8:focus {
    box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
}

.hover\:shadow-8:hover,.active\:shadow-8:active {
    box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
}

@media screen and (min-width: 576px) {
    .sm\:shadow-none {
        box-shadow:none!important
    }

    .sm\:shadow-1 {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .sm\:shadow-2 {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .sm\:shadow-3 {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .sm\:shadow-4 {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .sm\:shadow-5 {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .sm\:shadow-6 {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .sm\:shadow-7 {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .sm\:shadow-8 {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }

    .sm\:focus\:shadow-none:focus {
        box-shadow: none!important
    }

    .sm\:hover\:shadow-none:hover,.sm\:active\:shadow-none:active {
        box-shadow: none!important
    }

    .sm\:focus\:shadow-1:focus {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .sm\:hover\:shadow-1:hover,.sm\:active\:shadow-1:active {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .sm\:focus\:shadow-2:focus {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .sm\:hover\:shadow-2:hover,.sm\:active\:shadow-2:active {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .sm\:focus\:shadow-3:focus {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .sm\:hover\:shadow-3:hover,.sm\:active\:shadow-3:active {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .sm\:focus\:shadow-4:focus {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .sm\:hover\:shadow-4:hover,.sm\:active\:shadow-4:active {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .sm\:focus\:shadow-5:focus {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .sm\:hover\:shadow-5:hover,.sm\:active\:shadow-5:active {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .sm\:focus\:shadow-6:focus {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .sm\:hover\:shadow-6:hover,.sm\:active\:shadow-6:active {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .sm\:focus\:shadow-7:focus {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .sm\:hover\:shadow-7:hover,.sm\:active\:shadow-7:active {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .sm\:focus\:shadow-8:focus {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }

    .sm\:hover\:shadow-8:hover,.sm\:active\:shadow-8:active {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }
}

@media screen and (min-width: 768px) {
    .md\:shadow-none {
        box-shadow:none!important
    }

    .md\:shadow-1 {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .md\:shadow-2 {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .md\:shadow-3 {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .md\:shadow-4 {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .md\:shadow-5 {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .md\:shadow-6 {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .md\:shadow-7 {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .md\:shadow-8 {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }

    .md\:focus\:shadow-none:focus {
        box-shadow: none!important
    }

    .md\:hover\:shadow-none:hover,.md\:active\:shadow-none:active {
        box-shadow: none!important
    }

    .md\:focus\:shadow-1:focus {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .md\:hover\:shadow-1:hover,.md\:active\:shadow-1:active {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .md\:focus\:shadow-2:focus {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .md\:hover\:shadow-2:hover,.md\:active\:shadow-2:active {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .md\:focus\:shadow-3:focus {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .md\:hover\:shadow-3:hover,.md\:active\:shadow-3:active {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .md\:focus\:shadow-4:focus {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .md\:hover\:shadow-4:hover,.md\:active\:shadow-4:active {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .md\:focus\:shadow-5:focus {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .md\:hover\:shadow-5:hover,.md\:active\:shadow-5:active {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .md\:focus\:shadow-6:focus {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .md\:hover\:shadow-6:hover,.md\:active\:shadow-6:active {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .md\:focus\:shadow-7:focus {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .md\:hover\:shadow-7:hover,.md\:active\:shadow-7:active {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .md\:focus\:shadow-8:focus {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }

    .md\:hover\:shadow-8:hover,.md\:active\:shadow-8:active {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }
}

@media screen and (min-width: 992px) {
    .lg\:shadow-none {
        box-shadow:none!important
    }

    .lg\:shadow-1 {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .lg\:shadow-2 {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .lg\:shadow-3 {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .lg\:shadow-4 {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .lg\:shadow-5 {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .lg\:shadow-6 {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .lg\:shadow-7 {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .lg\:shadow-8 {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }

    .lg\:focus\:shadow-none:focus {
        box-shadow: none!important
    }

    .lg\:hover\:shadow-none:hover,.lg\:active\:shadow-none:active {
        box-shadow: none!important
    }

    .lg\:focus\:shadow-1:focus {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .lg\:hover\:shadow-1:hover,.lg\:active\:shadow-1:active {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .lg\:focus\:shadow-2:focus {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .lg\:hover\:shadow-2:hover,.lg\:active\:shadow-2:active {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .lg\:focus\:shadow-3:focus {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .lg\:hover\:shadow-3:hover,.lg\:active\:shadow-3:active {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .lg\:focus\:shadow-4:focus {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .lg\:hover\:shadow-4:hover,.lg\:active\:shadow-4:active {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .lg\:focus\:shadow-5:focus {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .lg\:hover\:shadow-5:hover,.lg\:active\:shadow-5:active {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .lg\:focus\:shadow-6:focus {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .lg\:hover\:shadow-6:hover,.lg\:active\:shadow-6:active {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .lg\:focus\:shadow-7:focus {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .lg\:hover\:shadow-7:hover,.lg\:active\:shadow-7:active {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .lg\:focus\:shadow-8:focus {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }

    .lg\:hover\:shadow-8:hover,.lg\:active\:shadow-8:active {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }
}

@media screen and (min-width: 1200px) {
    .xl\:shadow-none {
        box-shadow:none!important
    }

    .xl\:shadow-1 {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .xl\:shadow-2 {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .xl\:shadow-3 {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .xl\:shadow-4 {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .xl\:shadow-5 {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .xl\:shadow-6 {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .xl\:shadow-7 {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .xl\:shadow-8 {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }

    .xl\:focus\:shadow-none:focus {
        box-shadow: none!important
    }

    .xl\:hover\:shadow-none:hover,.xl\:active\:shadow-none:active {
        box-shadow: none!important
    }

    .xl\:focus\:shadow-1:focus {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .xl\:hover\:shadow-1:hover,.xl\:active\:shadow-1:active {
        box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important
    }

    .xl\:focus\:shadow-2:focus {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .xl\:hover\:shadow-2:hover,.xl\:active\:shadow-2:active {
        box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important
    }

    .xl\:focus\:shadow-3:focus {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .xl\:hover\:shadow-3:hover,.xl\:active\:shadow-3:active {
        box-shadow: 0 1px 8px #00000014,0 3px 4px #0000001a,0 1px 4px -1px #0000001a!important
    }

    .xl\:focus\:shadow-4:focus {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .xl\:hover\:shadow-4:hover,.xl\:active\:shadow-4:active {
        box-shadow: 0 1px 10px #0000001f,0 4px 5px #00000024,0 2px 4px -1px #0003!important
    }

    .xl\:focus\:shadow-5:focus {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .xl\:hover\:shadow-5:hover,.xl\:active\:shadow-5:active {
        box-shadow: 0 1px 7px #0000001a,0 4px 5px -2px #0000001f,0 10px 15px -5px #0003!important
    }

    .xl\:focus\:shadow-6:focus {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .xl\:hover\:shadow-6:hover,.xl\:active\:shadow-6:active {
        box-shadow: 0 3px 5px #0000000f,0 7px 9px #0000001f,0 20px 25px -8px #0000002e!important
    }

    .xl\:focus\:shadow-7:focus {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .xl\:hover\:shadow-7:hover,.xl\:active\:shadow-7:active {
        box-shadow: 0 7px 30px #00000014,0 22px 30px 2px #00000026,0 8px 10px #00000026!important
    }

    .xl\:focus\:shadow-8:focus {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }

    .xl\:hover\:shadow-8:hover,.xl\:active\:shadow-8:active {
        box-shadow: 0 9px 46px 8px #0000001f,0 24px 38px 3px #00000024,0 11px 15px #0003!important
    }
}
