$colorDarkBlue: #0c233c;
$colorKpmgBlue: #00338d;
$colorCobalt: #1e49e2;
$colorPacificBlue: #00b8f5;
$colorBlue: #76d2ff;
$colorLightBlue: #aceaff;
$colorDarkPurple: #510dbc;
$colorPurple: #7213ea;
$colorLightPurple: #b497ff;
$colorDarkPink: #ab0d82;
$colorPink: #fd349c;
$colorLightPink: #ffa3da;
$colorDarkGreen: #098e7e;
$colorGreen: #00c0ae;
$colorLightGreen: #63ebda;
$colorGray33: #333333;
$colorGray66: #666666;
$colorGray98: #989898;
$colorGrayB2: #b2b2b2;
$colorGrayE5: #e5e5e5;
$colorWhite: #ffffff;
$colorRed: #ed2124;
$colorYellow: #f1c44d;
$colorDarkerGreen: #269924;
$colorBlack: #000000;

$smallRadius: 4px;
$midRadius: 6px;

$animSpeed: 0.2s;
$animSpeedMid: 0.4s;
$animSpeedSlow: 0.6s;

$fontSizeSmall: 12px;
$fontSizeRegular: 14px;
$fontSizeMedium: 18px;

$openSansLight: "OpenSans-Light";
$openSansCondensedLight: "OpenSans-CondensedLight";
$openSansRegular: "OpenSans-Regular";
$openSansSemiBold: "OpenSans-Semibold";
$openSansSemiBoldItalic: "OpenSans-SemiboldItalic";
$openSansBold: "OpenSans-Bold";
$openSansBoldItalic: "OpenSans-BoldItalic";
$openSansExtraBold: "OpenSans-ExtraBold";
$openSansExtraBoldItalic: "OpenSans-ExtraBoldItalic";
$openSansItalic: "OpenSans-Italic";
$openSansLightItalic: "OpenSans-LightItalic";
$fontArial: "Arial";
