<div class="add-course">
    <!-- <div class="course-field"> -->
    <form #userForm="ngForm" (ngSubmit)="onSubmitCourse()" [formGroup]="CourseForm">
        <div class="panel panel-default">
            <div class="panel-heading">Course Details</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="CourseName">Course Name <span style="color:red;">*</span></label>
                        <input type="text" class="form-control" formControlName="CourseName" id="CourseName">
                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['CourseName'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.CourseName?.errors?.required">
                                Course Name is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.CourseName?.errors?.pattern">
                                Course Name should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="CourseID">Course ID</label>
                        <input type="text" class="form-control" formControlName="CourseID" id="CourseID">
                        <div class="message-error" *ngIf="IsSubmit &&  CourseForm.controls['CourseID'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.CourseID?.errors?.required">
                                Course ID is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.CourseID?.errors?.pattern">
                                Course ID should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="DeploymentFiscalYear">Deployment Year</label>
                        <input type="text" class="form-control" formControlName="DeploymentFiscalYear"
                            id="DeploymentFiscalYear">
                        <div class="message-error"
                            *ngIf="IsSubmit &&  CourseForm.controls['DeploymentFiscalYear'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.DeploymentFiscalYear?.errors?.required">
                                Project Status is reuired.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="CompetencyMasterID">Competency</label>
                        <ngx-select-dropdown [config]="config" formControlName="CompetencyMasterID"
                            [options]="CompetencyMasterData">
                        </ngx-select-dropdown>
                        <div class="message-error"
                            *ngIf="IsSubmit &&  CourseForm.controls['CompetencyMasterID'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.CompetencyMasterID?.errors?.required">
                                Project Status is reuired.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="SpecialNotice">Skill</label>
                        <ngx-select-dropdown [config]="config" formControlName="SkillMasterIDs" [multiple]="true"
                            [options]="SkillMasterData">
                        </ngx-select-dropdown>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="SpecialNotice">Industry</label>
                        <ngx-select-dropdown [config]="config" [multiple]="true" formControlName="Industries"
                            [options]="IndustryMasterData">
                        </ngx-select-dropdown>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ProgramKnowledgeLevelMasterID">Program Knowledge Level</label>
                        <ngx-select-dropdown [config]="config" formControlName="ProgramKnowledgeLevelMasterID"
                            [options]="ProgramKnowledgeLevelMasterData">
                        </ngx-select-dropdown>
                        <div class="message-error"
                            *ngIf="IsSubmit &&  CourseForm.controls['ProgramKnowledgeLevelMasterID'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.ProgramKnowledgeLevelMasterID?.errors?.required">
                                Program Knowledge Level is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.ProgramKnowledgeLevelMasterID?.errors?.pattern">
                                Program Knowledge Level should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="CourseOverviewObjective">Course Overview/Objectives</label>
                        <textarea type="test" class="form-control" formControlName="CourseOverviewObjective"
                            id="CourseOverviewObjective"></textarea>
                        <div class="message-error"
                            *ngIf="IsSubmit &&  CourseForm.controls['CourseOverviewObjective'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.CourseOverviewObjective?.errors?.required">
                                Course Overview/Objectives is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.CourseOverviewObjective?.errors?.pattern">
                                Course Overview/Objectives should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="TargetAudience">Target Audience</label>
                        <input type="text" class="form-control" formControlName="TargetAudience" id="TargetAudience">
                        <div class="message-error" *ngIf="IsSubmit &&  CourseForm.controls['TargetAudience'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.TargetAudience?.errors?.required">
                                Project Status is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.TargetAudience?.errors?.pattern">
                                Overview should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="AudienceLevel">Audience Level</label>
                        <ngx-select-dropdown [config]="config" formControlName="AudienceLevels" [multiple]="true"
                            [options]="AudienceLevelMasterData">
                        </ngx-select-dropdown>
                    </div>
                </div>
            </div>
            <div class="row">
                <div formArrayName="SGSLSNFormGroups">
                    <div *ngFor="let sgslsnFormGroup of SGSLSNFormGroups.controls; let i=index;">
                        <div class="col-md-3" [formGroupName]="i">
                            <div class="form-group">
                                <label for="ServiceGroup">Service Group {{ i + 1}}</label>
                                <ngx-select-dropdown [config]="config" formControlName="ServiceGroup"
                                    [options]="ServiceGroupMasterData">
                                </ngx-select-dropdown>
                            </div>
                        </div>
                        <div class="col-md-3" [formGroupName]="i">
                            <div class="form-group">
                                <label for="ServiceLine">Service Line {{ i + 1}}</label>
                                <ngx-select-dropdown [config]="config" formControlName="ServiceLine"
                                    [options]="ServiceLineMasterData">
                                </ngx-select-dropdown>
                            </div>
                        </div>
                        <div class="col-md-3" [formGroupName]="i">
                            <div class="form-group">
                                <label for="ServiceNetwork">Service Network {{ i + 1}}</label>
                                <ngx-select-dropdown [config]="config" formControlName="ServiceNetwork"
                                    [options]="ServiceNetworkMasterData">
                                </ngx-select-dropdown>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div *ngIf="i != 0">
                                <button type="button" class="btn btn-default dynamic-btn"
                                    (click)="removeFormControl(i)">
                                    <i class="pi pi-minus"></i>
                                </button>
                            </div>
                            <div *ngIf="i == 0">
                                <button type="button" class="btn btn-default dynamic-btn"
                                    (click)="addSGSLSNCourseChild()">
                                    <i class="pi pi-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div formArrayName="FieldOfStudyFormGroup">
                        <div *ngFor="let fOSFormGroup of FieldOfStudyFormGroup.controls; let i=index;">
                            <div>
                                <div class="col-md-4" [formGroupName]="i">
                                    <div class="form-group">
                                        <label for="SpecialNotice">Field of Study {{ i + 1}}</label>
                                        <ngx-select-dropdown [config]="config" formControlName="FieldOfStudy"
                                            [options]="FieldOfStudyMasterData">
                                        </ngx-select-dropdown>
                                    </div>
                                </div>
                                <div class="col-md-4" [formGroupName]="i">
                                    <div class="form-group">
                                        <label for="SpecialNotice">Field of Study Credit {{ i + 1}}</label>
                                        <input type="text" class="form-control" formControlName="FieldOfStudyCredit"
                                            id="TargetAudience">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div *ngIf="i != 0">
                                        <button type="button" class="btn btn-default dynamic-btn"
                                            (click)="removeFieldOfStudyFormControl(i)">
                                            <i class="pi pi-minus"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="i == 0">
                                        <button type="button" class="btn btn-default dynamic-btn"
                                            (click)="addFormFieldOfStudyChildForm()">
                                            <i class="pi pi-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="EstimatedCPE">Toal CPE Credit <span style="color:red;">*</span></label>
                        <input type="number" class="form-control" formControlName="EstimatedCPE" id="EstimatedCPE">
                        <div class="message-error" *ngIf="IsSubmit &&  CourseForm.controls['EstimatedCPE'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.EstimatedCPE?.errors?.required">
                                Toal CPE Credit is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.EstimatedCPE?.errors?.pattern">
                                Toal CPE Credit should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div formArrayName="PrerequisiteCourseIDFormGroup">
                    <div *ngFor="let fOSFormGroup of PrerequisiteCourseIDFormGroup.controls; let i=index;">
                        <div>
                            <div class="col-md-3" [formGroupName]="i">
                                <div class="form-group">
                                    <label for="PrerequisiteCourseID">Prerequisite CourseId {{ i + 1}}</label>
                                    <input type="text" class="form-control" formControlName="PrerequisiteCourseID"
                                        id="PrerequisiteCourseID">
                                </div>
                            </div>
                            <div class="col-md-3" [formGroupName]="i">
                                <div *ngIf="i != 0">
                                    <button type="button" class="btn btn-default dynamic-btn"
                                        (click)="removePrerequisiteCourseIDFormControl(i)">
                                        <i class="pi pi-minus"></i>
                                    </button>
                                </div>
                                <div *ngIf="i == 0">
                                    <button type="button" class="btn btn-default dynamic-btn"
                                        (click)="addPrerequisiteCourseIDChildForm()">
                                        <i class="pi pi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div formArrayName="EquivalentCourseIDFormGroup">
                    <div *ngFor="let fOSFormGroup of EquivalentCourseIDFormGroup.controls; let i=index;">
                        <div [formGroupName]="i">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="PrerequisiteCourseID">Equivalent CourseId {{ i + 1}}</label>
                                    <input type="text" class="form-control" formControlName="EquivalentCourseID"
                                        id="PrerequisiteCourseID">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div *ngIf="i != 0">
                                    <button type="button" class="btn btn-default dynamic-btn"
                                        (click)="removeEquivalentCourseIDFormControl(i)">
                                        <i class="pi pi-minus"></i>
                                    </button>
                                </div>
                                <div *ngIf="i == 0">
                                    <button type="button" class="btn btn-default dynamic-btn"
                                        (click)="addEquivalentCourseIDChildForm()">
                                        <i class="pi pi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="SpecialNotice">Special Notice</label>
                        <br><br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="SpecialNoticeMasterID"
                                id="SpecialNoticeMasterID" />
                            <label class="form-check-label" for="SpecialNoticeMasterID">This course
                                awards CPE credit. </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="SpecialNoticeMasterID"
                                id="SpecialNoticeMasterID" />
                            <label class="form-check-label" for="SpecialNoticeMasterID"> CPE credit will be
                                awarded
                                for
                                this
                                self-study upon successful completion of the content and passing the exam with a
                                grade of 70 or higher and must be within one year of enrollment.
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="SpecialNoticeMasterID"
                                id="SpecialNoticeMasterID" />
                            <label class="form-check-label" for="SpecialNoticeMasterID"> This course does not
                                award
                                CPE
                                credit.
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="SpecialNoticeMasterID"
                                id="SpecialNoticeMasterID" />
                            <label class="form-check-label" for="SpecialNoticeMasterID"> None.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="FunctionMasterIDs">Function</label>
                        <ngx-select-dropdown [config]="config" formControlName="FunctionMasterIDs" [multiple]="true"
                            [options]="FunctionMasterData">
                        </ngx-select-dropdown>
                        <div class="message-error" *ngIf="IsSubmit &&  CourseForm.controls['FunctionMasterIDs'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.FunctionMasterIDs?.errors?.required">
                                Project Status is reuired.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div formArrayName="AudienceTypeFormGroup">
                    <div *ngFor="let fOSFormGroup of AudienceTypeFormGroup.controls; let i=index;">
                        <div [formGroupName]="i">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="AudienceType">Audience Type {{ i + 1}}</label>
                                    <input type="text" class="form-control" formControlName="AudienceType"
                                        id="AudienceType">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div *ngIf="i != 0">
                                    <button type="button" class="btn btn-default dynamic-btn"
                                        (click)="removeAudienceTypeFormControl(i)">
                                        <i class="pi pi-minus"></i>
                                    </button>
                                </div>
                                <div *ngIf="i == 0">
                                    <button type="button" class="btn btn-default dynamic-btn"
                                        (click)="addAudienceTypeChildForm()">
                                        <i class="pi pi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Requester Details</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="CourseSponsor">Course Sponsor <span style="color:red;">*</span></label>
                        <input type="text" class="form-control" formControlName="CourseSponsor" id="CourseSponsor">
                        <div class="message-error" *ngIf="IsSubmit &&  CourseForm.controls['CourseSponsor'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.CourseSponsor?.errors?.required">
                                Course Sponsor is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.CourseSponsor?.errors?.pattern">
                                Course Sponsor should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="WhichSGSLSNSponsorLearning">Which Service Group, Service Line, or Service
                            Network
                            will
                            be
                            sponsoring this learning?</label>
                        <input type="text" class="form-control" formControlName="WhichSGSLSNSponsorLearning"
                            id="WhichSGSLSNSponsorLearning">
                        <div class="message-error"
                            *ngIf="IsSubmit &&  CourseForm.controls['WhichSGSLSNSponsorLearning'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.WhichSGSLSNSponsorLearning?.errors?.required">
                                Subject Matter Professional is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.WhichSGSLSNSponsorLearning?.errors?.pattern">
                                Subject Matter Professional should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="SubjectMatterProfessional">Subject Matter Professional</label>
                        <input type="text" class="form-control" formControlName="SubjectMatterProfessional"
                            id="SubjectMatterProfessional">
                        <div class="message-error"
                            *ngIf="IsSubmit &&  CourseForm.controls['SubjectMatterProfessional'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.SubjectMatterProfessional?.errors?.required">
                                Subject Matter Professional is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.SubjectMatterProfessional?.errors?.pattern">
                                Subject Matter Professional should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Vendor">Vendor(s)</label>
                        <input type="text" class="form-control" formControlName="Vendor" id="Vendor">
                        <div class="message-error" *ngIf="IsSubmit &&  CourseForm.controls['Vendor'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.Vendor?.errors?.required">
                                Vendor(s) is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.Vendor?.errors?.pattern">
                                Vendor(s) should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ServiceNowID">Service ID <span style="color:red;">*</span></label>
                        <input type="text" class="form-control" formControlName="ServiceNowID" id="ServiceNowID">
                        <div class="message-error" *ngIf="IsSubmit &&  CourseForm.controls['ServiceNowID'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.ServiceNowID?.errors?.required">
                                Service ID is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.ServiceNowID?.errors?.pattern">
                                Service ID should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Business Need</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Descriptions">Please provide a description/the business need related to this
                            request
                            <span style="color:red;">*</span></label>
                        <input type="text" class="form-control" formControlName="Descriptions" id="Descriptions">
                        <div class="message-error" *ngIf="IsSubmit &&  CourseForm.controls['Descriptions'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.Descriptions?.errors?.required">
                                Business Description is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.Descriptions?.errors?.pattern">
                                Business Description should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="IsRegulatoryOrLegalRequirement">Is this a regulatory or legal requirement
                            (e.g.
                            audit-assist training, FINRA compliance, etc.)?</label>
                        <ngx-select-dropdown [config]="config" formControlName="IsRegulatoryOrLegalRequirement"
                            [options]="IsRegulatoryOrLegalRequirementDropdownData"></ngx-select-dropdown>
                        <div class="message-error"
                            *ngIf="IsSubmit && CourseForm.controls['IsRegulatoryOrLegalRequirement'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.IsRegulatoryOrLegalRequirement?.errors?.required">
                                Project Status is reuired.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Delivery Considerations</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ProgramTypeID">Program Type <span style="color:red;">*</span></label>
                        <ngx-select-dropdown [config]="config" formControlName="ProgramTypeID"
                            [options]="ProgramTypeMasterData">
                        </ngx-select-dropdown>
                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['ProgramTypeID'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.ProgramTypeID?.errors?.required">
                                Program Type is reuired.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="DeliveryTypeID">Delivery Type <span style="color:red;">*</span></label>
                        <ngx-select-dropdown [config]="config" formControlName="DeliveryTypeID"
                            [options]="DeliveryTypeMasterData">
                        </ngx-select-dropdown>
                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['DeliveryTypeID'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.DeliveryTypeID?.errors?.required">
                                Delivery Type is reuired.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Duration">Duration</label>
                        <input type="text" class="form-control" formControlName="Duration" id="Duration">
                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['Duration'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.Duration?.errors?.required">
                                Duration is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.Duration?.errors?.pattern">
                                Duration should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="FirstDeliveryDate">First Delivery Date<span style="color:red;">*</span></label>
                        <input class="form-control" type="date" title="MM/DD/YY" formControlName="FirstDeliveryDate"
                            id="FirstDeliveryDate">

                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['FirstDeliveryDate'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.FirstDeliveryDate?.errors?.required">
                                First Delivery Date is reuired.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MaximumAttendeeCount">Maximum Attendee Count</label>
                        <input type="number" class="form-control" formControlName="MaximumAttendeeCount"
                            id="MaximumAttendeeCount">
                        <div class="message-error"
                            *ngIf="IsSubmit && CourseForm.controls['MaximumAttendeeCount'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.MaximumAttendeeCount?.errors?.required">
                                Maximum Attendee Count is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.MaximumAttendeeCount?.errors?.pattern">
                                Maximum Attendee Count should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MinimumAttendeeCount">Minimum Attendee Count</label>
                        <input type="number" class="form-control" formControlName="MinimumAttendeeCount"
                            id="MinimumAttendeeCount">
                        <div class="message-error"
                            *ngIf="IsSubmit && CourseForm.controls['MinimumAttendeeCount'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.MinimumAttendeeCount?.errors?.required">
                                Minimum Attendee Count is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.MinimumAttendeeCount?.errors?.pattern">
                                Minimum Attendee Count should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MaximumAttendeeWaitlist">Maximum Attendee Waitlist</label>
                        <input type="number" class="form-control" formControlName="MaximumAttendeeWaitlist"
                            id="MaximumAttendeeWaitlist">
                        <div class="message-error"
                            *ngIf="IsSubmit && CourseForm.controls['MaximumAttendeeWaitlist'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.MaximumAttendeeWaitlist?.errors?.required">
                                Maximum Attendee Waitlist is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.MaximumAttendeeWaitlist?.errors?.pattern">
                                Maximum Attendee Waitlist should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MaterialMasterID">Course Materials</label>
                        <ngx-select-dropdown [config]="config" formControlName="MaterialMasterID"
                            [options]="MaterialMasterData">
                        </ngx-select-dropdown>
                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['MaterialMasterID'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.MaterialMasterID?.errors?.required">
                                Course Materials is reuired.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" formControlName="Collateral"
                                id="Collateral">
                            <label class="form-check-label" for="Collateral">Additional Collateral</label>
                        </div>
                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['Collateral'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.Collateral?.errors?.required">
                                Collateral is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.Collateral?.errors?.pattern">
                                Collateral should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="RoomSetUpComments">Room Set Up Comments</label>
                        <textarea class="form-control" formControlName="RoomSetUpComments"
                            id="RoomSetUpComments"></textarea>
                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['RoomSetUpComments'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.RoomSetUpComments?.errors?.required">
                                Room Set Up Comments is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.RoomSetUpComments?.errors?.pattern">
                                Room Set Up Comments should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="DeploymentFacilitatorConsideration">Deployment/Facilitation
                            Considerations</label>
                        <input type="text" class="form-control" formControlName="DeploymentFacilitatorConsideration"
                            id="DeploymentFacilitatorConsideration">
                        <div class="message-error"
                            *ngIf="IsSubmit && CourseForm.controls['DeploymentFacilitatorConsideration'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.DeploymentFacilitatorConsideration?.errors?.required">
                                Deployment/Facilitation Considerations is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.DeploymentFacilitatorConsideration?.errors?.pattern">
                                Deployment/Facilitation Considerations should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Project Team</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="LDIntakeOwner">L&D Intake Owner <span style="color:red;">*</span></label>
                        <input type="text" class="form-control" formControlName="LDIntakeOwner" id="LDIntakeOwner">
                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['LDIntakeOwner'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.LDIntakeOwner?.errors?.required">
                                L&D-Intake-Owner is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.LDIntakeOwner?.errors?.pattern">
                                L&D-Intake-Owner should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ProjectManagerContact">Project Manager Contact</label>
                        <input type="text" class="form-control" formControlName="ProjectManagerContact"
                            id="ProjectManagerContact">
                        <div class="message-error"
                            *ngIf="IsSubmit && CourseForm.controls['ProjectManagerContact'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.ProjectManagerContact?.errors?.required">
                                Project Manager Contact is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.ProjectManagerContact?.errors?.pattern">
                                Project Manager Contact should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="InstructionalDesigner">Instructional Designer</label>
                        <input type="text" class="form-control" formControlName="InstructionalDesigner"
                            id="InstructionalDesigner">
                        <div class="message-error"
                            *ngIf="IsSubmit && CourseForm.controls['InstructionalDesigner'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.InstructionalDesigner?.errors?.required">
                                Instructional Designer is reuired.
                            </div>
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.InstructionalDesigner?.errors?.pattern">
                                Instructional Designer should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="LevelofEffortMasterId">Level Of Effort</label>
                        <ngx-select-dropdown [config]="config" formControlName="LevelofEffortMasterId"
                            [options]="LevelOfEffortMasterData">
                        </ngx-select-dropdown>
                        <div class="message-error"
                            *ngIf="IsSubmit && CourseForm.controls['LevelofEffortMasterId'].errors">
                            <div class="error-tooltips"
                                *ngIf="CourseForm.controls?.LevelofEffortMasterId?.errors?.required">
                                Level Of Effort is reuired.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div formArrayName="FOCUSCourseOwnerFormGroup">
                    <div *ngFor="let fOSFormGroup of FOCUSCourseOwnerFormGroup.controls; let i=index;">
                        <div>
                            <div class="col-md-3" [formGroupName]="i">
                                <div class="form-group">
                                    <label for="CourseOwnerID">Course Owner {{i + 1}}</label>
                                    <ngx-select-dropdown [config]="config" formControlName="CourseOwner"
                                        [options]="CourseOwnerMasterData">
                                    </ngx-select-dropdown>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div *ngIf="i != 0">
                                    <button type="button" class="btn btn-default dynamic-btn"
                                        (click)="removeFOCUSCourseOwnerFormControl(i)">
                                        <i class="pi pi-minus"></i>
                                    </button>
                                </div>
                                <div *ngIf="i == 0">
                                    <button type="button" class="btn btn-default dynamic-btn"
                                        (click)="addFOCUSCourseOwnerChildForm()">
                                        <i class="pi pi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Work Notes</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="CourseNotes">Course Notes/ Additional Information</label>
                        <textarea class="form-control" formControlName="CourseNotes" id="CourseNotes"> </textarea>
                        <div class="message-error" *ngIf="IsSubmit && CourseForm.controls['CourseNotes'].errors">
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.CourseNotes?.errors?.required">
                                Course Notes/ Additional Information is reuired.
                            </div>
                            <div class="error-tooltips" *ngIf="CourseForm.controls?.CourseNotes?.errors?.pattern">
                                Course Notes/ Additional Information should be Alpha Numeric.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Focus Feed</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Retired</label>
                        <div>{{CourseData?.FocusRetired}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Domain</label>
                        <div>{{CourseData?.FocusDomain}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Discontinued Form</label>
                        <div>{{CourseData?.FocusDiscFrom}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Displayed to Learner</label>
                        <div>
                            {{CourseData?.FocusDisplayedToLearner}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default">
                    <span class="p-button-label">Save</span>
                </button>
                <button routerLink="/course-management" class="btn btn-default">
                    <span class="p-button-label">Cancel</span>
                </button>
            </div>
        </div>
    </form>
    <!-- </div> -->
</div>