// .coursem-btn{
//     margin-right: 10px;
// }

.add-course{
    padding: 30px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    float: left;
}

.form-control{
    padding: 5px;
    border-radius: 0px;
    height: 35px;
}

textarea.form-control{
    padding: 5px;
    border-radius: 0px;
    height: 80px;
    resize: none;
}

.clear{
    clear: both;
}

.panel-default {
    border-color: #ddd;
}

.panel-default {
    border-color: #ddd;
}

.dynamic-btn{
    margin-top: 20px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ccc;
    color: #000;
}

.panel-body {
    padding: 15px;
}

/* Error Tool Tip Styles*/
.error-tooltips {
  font-family: Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #cc0033;
    line-height: 10px;
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    float: left;
    position: absolute;
    padding: 5px 10px 5px;
    margin-left: 0px;
}

.error-tooltips:after {
  border-right: 7px solid #fce4e4;
  left: -14px;
}
.error-tooltips:before {
  border-right: 7px solid #fcc2c3;
  left: -15px;
}
.LastUpdatedData{
    display: flex;

    color: black;
    justify-content:flex-end;
    align-items: bottom;
    font-size: 12pt;
}
.LastUpdatedfeild{
     display: flex;
    align-items: bottom;
    font-size: 12pt;
}

.btn-excel-width {
  padding: 5px 10px;
  font-size: 10px;
  height: 10px;
}